.diagnosisChart{
	position: relative;
	// background-color: #fff;

	&::after{
		content: '';
		position: absolute;
		color: #429FD8;
		opacity: 0.5;
		font-size: 10px;
		top: 50%;
		left: 50%;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		text-indent: -9999em;
		animation: load4 1.3s infinite linear;
		transform: translateZ(0);
		z-index: -100;
	}
	@keyframes load4 {
		0%,
		100% {
			box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
		}
		12.5% {
			box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
		}
		25% {
			box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
		}
		37.5% {
			box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
		}
		50% {
			box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
		}
		62.5% {
			box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
		}
		75% {
			box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
		}
		87.5% {
			box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
		}
	}


	.diagnosisChartInner{
		position: relative;
		min-height: 305px;
		background: url('/assets/images/home/chart_bg.jpg') top center/auto 500px;/*.started heightと揃える*/
		padding: 120px 0 20px;
		opacity: 0;
		overflow: hidden;
	}
	&.start{
		.diagnosisChartInner{
			opacity: 1;
			transition: opacity .5s .5s;
			visibility: visible;
		}
	}
	@media screen and (max-width: $breakpoint){
		&.started{
			.diagnosisChartInner{
				min-height: 500px;
				transition: min-height .4s;
			}
		}
	}

	@media screen and (min-width: $breakpoint + 1){
		.diagnosisChartInner{
			background: url('/assets/images/home/chart_bg.jpg') top center/cover;
			height: 560px;
			min-height: auto;
			padding: 160px 0 20px;
		}
	}



	.header{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		.headerStart{
			.logo{
				position: absolute;
				left: 50%;
				top: 40px;
				transform: translateX(-50%);
				margin-left: 15px;
				width: 185px;
			}
			.cat{
				position: absolute;
				top: 30px;
				right: 8px;
				width: 82px;
			}
		}
		.headerResult{
			opacity: 0;
			transform: translateY(10px);
			.title{
				margin-top: 15px;
				width: 210px;
				margin-left: 155px;
				max-width: calc(100% - 155px);
			}
		}


		&.statusResult{
			.headerStart{
				display: none;
			}
			.headerResult{
				opacity: 1;
				transform: translateY(0);
				transition: all .4s .2s;
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			height: 100%;
			.headerStart{
				.logo{
					left: 35%;
					top: 40px;
					transform: translateX(0);
					margin-left: 0;
					width: 50%;
				}
				.cat{
					position: absolute;
					top: auto;
					bottom: 0;
					right: auto;
					left: 33%;
					width: 180px;
				}
			}
			.headerResult{
				.title{
					position: absolute;
					left: 35%;
					top: 10px;
					width: 380px;
					margin: 0;
					max-width: none;
				}
			}
		}

	}

	.diagnosisContainer{
		// position: relative;
		position: absolute;
		width: calc(100% - 30px);
		left: 15px;
		background: url('/assets/images/home/content_bg.png') top center/cover;
		box-shadow:1px 1px 5px rgba(0,0,0,0.2);
		z-index: 2;
		display: none;
		.textTitle{
			text-align: center;
			margin-bottom: 10px;
			img{
				height: 16px;
			}
		}

		&.active{
			display: block;
			animation: chartActive .8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s backwards;
		}
		@keyframes chartActive {
			 0% {
			 	opacity: 0;
			 	// transform: scale(0.6);
			    transform: translateX(50%);
			 }
			 100% {
			 	opacity: 1;
			    transform: translateX(0);
			 }
		}

		&.deactive{
			// position: absolute;
			animation: chartDeactivate .8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s both;
		}
		@keyframes chartDeactivate {
			 0% {
			 	opacity: 1;
			 	// transform: scale(1);
			    transform: translateX(0);
			   
			 }
			 99.99% {
			 	height: auto;
			 }
			 100% {
			 	height: 0;
			 	opacity: 0;
			 	// transform: scale(0.6);
			    transform: translateX(-50%);
			 }
		}


		@media screen and (min-width: $breakpoint + 1){
			width: calc(65% - 20px);
			// margin: 0 20px 0 auto;
			left: auto;
			right: 20px;
			.textTitle{
				margin-bottom: 15px;
				img{
					height: 22px;
				}
			}
			// transform: translateY(60px);
		}
	}

	.diagnosisStartContainer{
		padding: 30px 15px;
		.diagnosisStart{
			text-align: center;
			width: 240px;
			margin: 0 auto;
			img{
				
				animation: startExpand .8s 1.5s infinite alternate;
				@keyframes startExpand {
					 0% {
					    transform: scale(1);
					 }
					 50% {
					    transform: scale(1);
					 }
					 100% {
					    transform: scale(1.06);
					 }
				}
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			.diagnosisStart{
				width: 340px;
				img{
					cursor: pointer;
					// transition: all .4s;
					// &:hover{
					// 	transform: scale(1.06);
					// 	opacity: 0.7;
					// }
				}
			}
		}
	}

	.questionsContainer{
		.question{
			padding: 15px 15px;
			&:not(.active){
				display: none;
			}
			.headline{
				padding-left: 70px;
				position: relative;
				margin-bottom: 20px;
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 60px;
					height: 60px;
					background: url('/assets/images/home/cat_avatar.png') center/100% auto no-repeat;
				}
				span{
					display: flex;
					align-items: center;
					// font-size: 1.2rem;
					background-color: #fff;
					padding: 5px 15px;
					min-height: 60px;
					position: relative;
					&::after{
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						top: 50%;
						left: 0;
						border: 8px solid transparent;
						border-right: 8px solid #fff;
						margin-top: -8px;
						margin-left: -14px;
					}
				}
			}
			.choices{
				.answer{
					width: 280px;
					height: 60px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 16px;
					font-weight: bold;
					color: #fff;
					margin: 0 auto 10px;
					line-height: 1.3;
					&:nth-child(odd){
						background: url('/assets/images/home/button_a.png') center/100% auto no-repeat;
					}
					&:nth-child(even){
						background: url('/assets/images/home/button_b.png') center/100% auto no-repeat;
					}
					&.small{
						font-size: 14px;
					}
				}
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			.question{
				.headline{
					padding-left: 90px;
					margin-bottom: 15px;
					&::before{
						width: 80px;
						height: 80px;
					}
					span{
						min-height: 80px;
						font-size: 16px;
					}
				}
				.choices{
					.answer{
						width: 340px;
						height: 75px;
						font-size: 20px;
						margin: 0 auto 10px;
						cursor: pointer;
						transition: all .25s;
						&:hover{
							transform: scale(1.05);
						}
						&.small{
							font-size: 17px;
						}
					}
				}
			}
		}
	}

	.loadingContainer{
		padding: 15px 15px 20px;
		.checkedAnswerContainer{
			padding-left: 70px;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 60px;
				height: 60px;
				background: url('/assets/images/home/cat_avatar.png') center/100% auto no-repeat;
			}
			.checkedAnswer{
				background-color: #fff;
				padding: 5px 10px;
				min-height: 60px;
				position: relative;
				&::after{
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					top: 30px;
					left: 0;
					border: 8px solid transparent;
					border-right: 8px solid #fff;
					margin-top: -8px;
					margin-left: -14px;
				}
				.comment{
					font-size: 1.2rem;
					font-weight: bold;
				}
				ul{
					margin: 10px 0 10px;
					li{
						font-size: 1.1rem;
						line-height: 1.2;
						padding-left: 30px;
						position: relative;
						min-height: 24px;
						&:not(:last-child){
							margin-bottom: 8px;
						}
						&::before{
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 24px;
							height: 24px;
							background: url('/assets/images/home/icon_check.png') center/auto 100% no-repeat;
						}
					}
				}

				.delay{
					opacity: 0;
					transform: translateY(5px);
				}
				&.show{
					@for $cnt from 1 through 10{
					    .delay#{$cnt}{
					    	opacity: 1;
					    	transform: translateY(0);
					    	transition: all .3s #{$cnt * 0.5}s;
					    }
					}
				}
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			.checkedAnswerContainer{
				padding-left: 90px;
				&::before{
					width: 80px;
					height: 80px;
				}
				.checkedAnswer{
					padding: 15px 20px;
				}
			}
		}
	}

	.resultContainer{
		padding: 15px 10px;

		/*別アニメーション*/
		&.active{
			animation: chartResultActive .7s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s backwards;
		}
		@keyframes chartResultActive {
			 0% {
			 	opacity: 0;
			 	transform: scale(1.3);
			 }
			 100% {
			 	opacity: 1;
			    transform: scale(1);
			 }
		}

		.catch{
			font-size: 14px;
			line-height: 1.3;
			font-weight: bold;
			text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
			color: #fff;
			text-align: center;
			margin-bottom: 10px;
		}
		.salonInfo{
			background-color: #fff;
			padding: 10px;
			.resultSalonHeader{
				display: flex;
				margin-bottom: 10px;
				.logo{
					width: 100px;
				}
				.salonName{
					flex: 1;
					padding-left: 10px;
					span{
						display: block;
						font-size: 18px;
						line-height: 1.3;
						font-weight: bold;
						color: #ed7a96;
					}
				}
			}
			.comment{
				background: url('/assets/images/icon_ranking1.png') top left -10px/90px auto no-repeat;
				padding-left: 80px;
				font-size: 0.9rem;
				min-height: 80px;
			}
			.buttons{
				max-width: 300px;
				margin: 0 auto;
				ul{
					margin-top: 15px;
					display: flex;
					justify-content: space-between;
					li{
						&:nth-child(odd){
							padding-right: 5px;
						}
						&:nth-child(even){
							padding-left: 5px;
						}
					}
				}
				.moreRanking{
					text-align: center;
					background-color: #467fc1;
					border-radius: 5px;
					margin-top: 10px;
					padding: 5px;
					a{
						display: block;
					}
					span{
						font-size: .9rem;
						line-height: 1.2;
						font-weight: 700;
						color: #fff;
						position: relative;
						padding-right: 15px;
						&::after{
							content: "";
							position: absolute;
							top: 50%;
							right: 0;
							width: 10px;
							height: 10px;
							transform: translateY(-50%) rotate(-90deg);
							background: url(/assets/images/arrow_w.svg) 50%/100% auto no-repeat;
						}
					}
				}
			}
		}
		.result{
			&:not(.active){
				display: none;
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			padding: 15px 15px;
			.catch{
				font-size: 19px;
			}
			.salonInfo{
				padding: 15px;
				.resultSalonHeader{
					align-items: center;
					.logo{
						width: 120px;
					}
					.salonName{
						flex: 1;
						padding-left: 15px;
						font-size: 18px;
						span{
							font-size: 28px;
						}
					}
				}
				.comment{
					background: url('/assets/images/icon_ranking1.png') top left -5px/100px auto no-repeat;
					padding-left: 105px;
					padding-top: 10px;
					font-size: 0.85rem;
					min-height: 80px;
				}
				.buttons{
					max-width: 400px;
					a{
						@include hover;
					}
					ul{
						margin-top: 10px;
					}
					.moreRanking{
						margin-top: 10px;
						span{
							font-size: 11px;
						}
						
					}
				}
			}
		}
	}

	.moko{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		.startMoko{
			position: absolute;
			top: 5px;
			left: 0;
			width: 140px;
		}
		.resultMoko{
			opacity: 0;
			position: absolute;
			top: 5px;
			left: -15px;
			width: 170px;
			transform: translateY(20px);
		}


		&.statusResult{
			.startMoko{
				display: none;
			}
			.resultMoko{
				opacity: 1;
				transform: translateY(0);
				transition: all .4s .1s;
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			.startMoko{
				top: auto;
				bottom: 0;
				left: 0;
				height: 100%;
				width: auto;
			}
			.resultMoko{
				top: auto;
				bottom: -20px;
				left: -30px;
				height: 100%;
				width: auto;
			}
		}
	}

	.illustCopyright{
		position: absolute;
		bottom: 5px;
		right: 15px;
		img{
			width: 80px;
		}
	}
	
}
