.archiveTitle{
	border: 1px solid #4dcfff;
	text-align: center;
	color: #fff;
	background: linear-gradient(#5ec8f2, #42a2d5);
	font-size: 1.2rem;
	font-weight: bold;
	padding: 7px;
	line-height: 1;
	margin-bottom: 10px;
}

.categorySelectWrapper{
	text-align: right;
	margin-bottom: 10px;
	.categorySelect{
		position: relative;
		display: inline-block;
		border: 1px solid #e12d98;;
		border-radius: 6px;
		overflow: hidden;
		margin-right: 10px;
		&::after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 100%;
			border-left: 1px solid #e12d98;
			background: linear-gradient(#f5f1f2, #e8608e);
			pointer-events: none;
		}
		&::before{
			content: '';
			position: absolute;
			top: 50%;
			right: 15px;
			width: 0;
			height: 0;
			border: 4px solid transparent;
			border-top: 6px solid #fff;
			transform: translate(5px, -2px);
			z-index: 2;
			pointer-events: none;
		}
		select{
			min-width: 180px;
			appearance: button;
			border: none;
			background-color: #fff;
			padding: 5px 20px 5px 5px;
			line-height: 1;
			cursor: pointer;			
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		.categorySelect{
			margin-right: 0;
		}
	}
}

.entryAttribute{
	font-size: 10px;
	color: #666;
	.date{
		display: inline-block;
	}
	.category{
		display: inline-block;
		&::after{
				content: '｜';
			}
		li{
			display: inline;
			&::before{
				content: '｜';
			}
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		font-size: 12px;
	}
}

#column{
	article.entry{
		margin-bottom: 15px;
		&:not(:last-child){
			padding-bottom: 15px;
			border-bottom: 1px solid #ccc;
		}
		a{
			display: flex;
			.imageBlock{
				width: 120px;
				img{
					width: 100%;
				}
			}
			.textBlock{
				flex: 1;
				padding-left: 10px;
				.entryTitle{
					margin: 5px 0;
					font-size: 1.1rem;
					font-weight: bold;
				}
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			margin-bottom: 30px;
			&:not(:last-child){
				padding-bottom: 30px;
			}
			a{
				@include hover;
				.imageBlock{
					width: 240px;
				}
				.textBlock{
					padding-left: 20px;
					.entryTitle{
						margin: 10px 0;
						font-size: 1.3rem;
					}
				}
			}
		}
	}

	.paginationWrapper{
		text-align: center;
		margin-bottom: 30px;
		.pagination{
			display: inline-block;
			text-align: left;
			.screen-reader-text{
				font-size: 0.85rem;
				color: #666;
			}
			.nav-links{
				margin-top: 5px;
				.page-numbers{
					display: inline-block;
					width: 30px;
					height: 30px;
					border-radius: 5px;
					font-size: 0.85rem;
					color: #fff;
					background-color: #bbb;
					text-align: center;
					line-height: 30px;
					margin: 0 2px;
					&.current{
						background-color: #333;
					}
					&.dots{
						background-color: transparent;
						color: #333;
					}
				}
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			.pagination{
				.nav-links{
					a{
						@include hover;
					}
				}
			}
		}
	}
}


#columnDetail{
	.categorySelectWrapper{
		margin-top: 10px;
		@media screen and (min-width: $breakpoint + 1){
			margin-top: 0;
		}
	}
	.entryHeader{
		margin-bottom: 15px;
		.entryTitle{
			// font-family: "Midashi Go MB31", $baseFont;
			font-weight: bold;
			background-color: $keyColor;
			color: #fff;
			padding: 8px 15px;
			line-height: 1.2;
			font-size: 16px;
		}
		.entryAttribute{
			padding: 5px 15px;
			.author{
				display: inline-block;
				margin-left: 15px;
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			.entryTitle{
				font-size: 22px;
			}
			.entryAttribute{
				padding: 10px 15px;
			}
		}
	}

	.entryEyecatch{
		margin-bottom: 20px;
		img{
			width: 100%;
		}
	}

	.tableofcontents{
		border-top: 1px dotted #666;
		border-bottom: 1px dotted #666;
		// border: 1px solid #ccc;
		padding: 15px 5px;
		.title{
			display: inline-block;
			background-color: $linkColor;
			color: #fff;
			padding: 5px 10px;
			font-size: 1.1rem;
			line-height: 1;
			font-weight: bold;
			border-radius: 5px;
			&::before{
				content: '▼';
				font-size: 80%;
				margin-right: 5px;
			}

		}
		.displayToggle{
			margin-left: 10px;
			text-decoration: underline;
			cursor: pointer;
		}
		ul{
			list-style-type: disc;
			// list-style-position: inside;
			padding-left: 20px;
			li{
				&:first-child{
					margin-top: 10px;
				}
				&:not(:last-child){
					margin-bottom: 5px;
				}
				a{
					color: $linkColor;
					text-decoration: none;
				}
				&.main{
					font-size: 1.15rem;
					&:not(:first-child){
						margin-top: 20px;
					}
					a{
						font-weight: bold;
					}
					
				}
				&.sub{
					// padding-left: 15px;
					font-size: 1.05rem;
					margin-left: 10px;
				}
			}
			
		}
		@media screen and (min-width: $breakpoint + 1){
			padding: 25px 10px;
			.title{
				&::before{
					content: '▼';
					font-size: 80%;
					margin-right: 5px;
				}

			}
			ul{
				padding-left: 20px;
				li{
					&:first-child{
						margin-top: 15px;
					}
					&:not(:last-child){
						margin-bottom: 10px;
					}
					a{
						&:hover{
							text-decoration: underline;
						}

					}
					&.main{
						&:not(:first-child){
							margin-top: 30px;
						}
					}
					&.sub{
						// padding-left: 15px;
						font-size: 1.1rem;
					}
				}
				
			}
		}
	}

	.entryBody{
		.entryBlock{
			margin-bottom: 50px;
			.cotentTitle{
				color: $keyColor;
				font-size: 17px;
				font-weight: bold;
				line-height: 1.2;
				padding: 15px 10px;
				border-top: 2px dotted #ccc;
				border-bottom: 2px dotted #ccc;
				margin-bottom: 20px;
				// background: url('/assets/images/icon_heart.png') 2px 10px/25px auto no-repeat #fffff3;
				background: url('/assets/images/icon_heart2.png') 5px 14px/22px auto no-repeat #fffff3;
				padding-left: 35px;
			}
			h3{
				font-size: 15px;
				font-weight: bold;
				line-height: 1.2;
				padding: 10px 15px;
				background-color: #ededed;
				border-radius: 8px;
				margin-bottom: 10px;
			}

			h4{
				font-size: 14px;
				font-weight: bold;
				line-height: 1.2;
				color: #4580ba;
				// margin-top: 10px;
				margin-bottom: 5px;
				// border-left: 3px solid #4580ba;
				// border-bottom: 1px dotted #4580ba;
				// padding: 5px 0;
			}

			h5{
				font-size: 12px;
				font-weight: bold;
				line-height: 1.2;
				// margin-top: 10px;
				margin-bottom: 5px;
			}
			table{
				border: 1px solid #ccc;
				td,tr{
					border: 1px solid #ccc;
					padding: 5px;
				}
			}

			/* 画像配置 */
			img.alignleft,
			amp-img.alignleft {
			        text-align: left;
			}
			img.aligncenter,
			amp-img.aligncenter {
			        display: block;
			        margin: 0 auto;
			}
			img.alignright,
			amp-img.alignright {
			        display: block;
			        margin: 0 0 0 auto;
			}
			p{
				a{
					&:not(.ctaButto){
						color: $linkColor;
						text-decoration: underline;
						&:hover{
							text-decoration: none;
						}
					}
					
				}
			}

			/*ampリンクカード用*/
			.linkcard{
				.lkc-link{
					&.no_icon{
						color: #33bad2;
						font-size: 1.2rem;
					}
				}
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			.entryBlock{
				margin-bottom: 80px;
				.cotentTitle{
					font-size: 24px;
					// background: url('/assets/images/icon_heart.png') 3px 10px/35px auto no-repeat #fffff3;
					background: url('/assets/images/icon_heart2.png') 3px 15px/28px auto no-repeat #fffff3;
					padding-left: 40px;
				}
				h3{
					font-size: 20px;
				}
				h4{
					font-size: 17px;
				}
				h5{
					font-size: 15px;
				}
			}
		}
	}
}
