.archiveTitle{
	border: 1px solid #4dcfff;
	text-align: center;
	color: #fff;
	background: linear-gradient(#5ec8f2, #42a2d5);
	font-size: 1.2rem;
	font-weight: bold;
	padding: 7px;
	line-height: 1;
	margin-bottom: 10px;
}

.entryAttribute{
	font-size: 10px;
	color: #666;
	.date{
		display: inline-block;
	}
	.category{
		display: inline-block;
		&::after{
				content: '｜';
			}
		li{
			display: inline;
			&::before{
				content: '｜';
			}
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		font-size: 12px;
	}
}

article.entry{
	margin-bottom: 15px;
	&:not(:last-child){
		padding-bottom: 15px;
		border-bottom: 1px solid #ccc;
	}
	a{
		display: flex;
		.imageBlock{
			width: 120px;
			img{
				width: 100%;
			}
		}
		.textBlock{
			flex: 1;
			padding-left: 10px;
			.entryTitle{
				margin: 5px 0;
				font-size: 1.1rem;
				font-weight: bold;
			}
		}
	}

	//お知らせ
	&.news{
		margin-bottom: 10px;
		&:not(:last-child){
			padding-bottom: 10px;
			border-bottom: 1px solid #ccc;
		}
		a{
			.textBlock{
				flex: 1;
				padding-left: 0;
			}
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		margin-bottom: 30px;
		&:not(:last-child){
			padding-bottom: 30px;
		}
		a{
			@include hover;
			.imageBlock{
				width: 240px;
			}
			.textBlock{
				padding-left: 20px;
				.entryTitle{
					margin: 10px 0;
					font-size: 1.3rem;
				}
			}
		}

		//お知らせ
		&.news{
			margin-bottom: 20px;
			&:not(:last-child){
				padding-bottom: 20px;
			}
			a{
				.textBlock{
					.entryTitle{
						margin: 10px 0 0;
						font-size: 1.1rem;
					}
				}
			}
		}

	}
}

// #columnDetail{
	.entryHeader{
		margin-bottom: 15px;
		.entryTitle{
			// font-family: "Midashi Go MB31", $baseFont;
			font-weight: bold;
			background-color: $keyColor;
			color: #fff;
			padding: 8px 15px;
			line-height: 1.2;
			font-size: 16px;
		}
		.entryAttribute{
			padding: 5px 15px;
			.author{
				display: inline-block;
				margin-left: 15px;
			}
		}
		// .entryShare{
		// 	padding: 5px 15px 0;
		// 	display: flex;
		// 	li{
		// 		flex: 1;
		// 		// padding: 2px;
		// 		max-height: 30px;
		// 		overflow: hidden;
		// 		display: flex;
		// 		align-items: center;
		// 		justify-content: center;
		// 		border-radius: 3px;
		// 		&.facebook{
		// 			background-color: #32529f;
		// 		}
		// 		&.twitter{
		// 			background-color: #1da1f2;
		// 		}
		// 		&.hatena{
		// 			background-color: #2C6EBD;
		// 		}
		// 		&.line{
		// 			background-color: #52b448;
		// 		}
		// 		&:not(:last-child){
		// 			margin-right: 3px;
		// 		}
		// 		a{
		// 			display: block;
		// 			width: 100%;
		// 			height: 100%;
		// 			img{
		// 				width: 24px;
		// 				display: block;
		// 				margin: 0 auto;
		// 			}
		// 		}
		//
		// 		amp-social-share[type=facebook],
		// 		amp-social-share[type=twitter],
		// 		amp-social-share[type=hatena_bookmark],
		// 		amp-social-share[type=line] {
		// 			//公式ボタンで反映しない
		// 			// width: 30px;
		// 			// height: 30px;
		// 			background-size: 30px 30px;
		// 		}
		// 		amp-social-share[type=hatena_bookmark]{
		// 			width: 60px;
		// 			height: 44px;
		// 			background-image: url('/assets/images/icon_hatena.svg');
		// 			background-size: 26px 26px;
		// 		}
		// 	}
		// }
		@media screen and (min-width: $breakpoint + 1){
			.entryTitle{
				font-size: 22px;
			}
			.entryAttribute{
				padding: 10px 15px;
			}
			// .entryShare{
			// 	padding: 15px 25px 10px;
			// 	li{
			// 		&:not(:last-child){
			// 			margin-right: 5px;
			// 		}
			// 		a{
			// 			padding: 2px;
			// 			@include hover;
			// 			img{
			// 				width: 26px;
			// 			}
			// 		}
			// 	}
			// }
		}
	}

	.entryEyecatch{
		margin-bottom: 20px;
		img{
			width: 100%;
		}
	}


	.entryBody{
		.entryBlock{
			margin-bottom: 50px;
			.cotentTitle{
				color: $keyColor;
				font-size: 17px;
				font-weight: bold;
				line-height: 1.2;
				padding: 15px 10px;
				border-top: 2px dotted #ccc;
				border-bottom: 2px dotted #ccc;
				margin-bottom: 20px;
				// background: url('/assets/images/icon_heart.png') 2px 10px/25px auto no-repeat #fffff3;
				background: url('/assets/images/icon_heart2.png') 5px 14px/22px auto no-repeat #fffff3;
				padding-left: 35px;
			}
			h3{
				font-size: 15px;
				font-weight: bold;
				line-height: 1.2;
				padding: 10px 15px;
				background-color: #ededed;
				border-radius: 8px;
				margin-bottom: 10px;
			}

			h4{
				font-size: 14px;
				font-weight: bold;
				line-height: 1.2;
				color: #4580ba;
				// margin-top: 10px;
				margin-bottom: 5px;
				// border-left: 3px solid #4580ba;
				// border-bottom: 1px dotted #4580ba;
				// padding: 5px 0;
			}

			h5{
				font-size: 12px;
				font-weight: bold;
				line-height: 1.2;
				// margin-top: 10px;
				margin-bottom: 5px;
			}
			table{
				border: 1px solid #ccc;
				td,tr{
					border: 1px solid #ccc;
					padding: 5px;
				}
			}

			img,
			amp-img{
				height: auto;
			}

			iframe,
			amp-iframe{
				max-width: 100%;
			}

			amp-instagram{
				border: 1px solid #ededed;
			}
			.linkcard{
				table{
					width: 100%;
					margin-bottom: 15px;
				}
			}

			/* 画像配置 */
			img.alignleft,
			amp-img.alignleft {
			        text-align: left;
			}
			img.aligncenter,
			amp-img.aligncenter {
			        display: block;
			        margin: 0 auto;
			}
			img.alignright,
			amp-img.alignright {
			        display: block;
			        margin: 0 0 0 auto;
			}
			p{
				a{
					&:not(.ctaButto){
						color: $linkColor;
						text-decoration: underline;
						&:hover{
							text-decoration: none;
						}
					}

				}
			}

			/*ampリンクカード用*/
			.linkcard{
				.lkc-link{
					&.no_icon{
						color: #33bad2;
						font-size: 1.2rem;
					}
				}
			}
		}
		@media screen and (max-width: $breakpoint){
			iframe,
			amp-iframe{
				max-height: 240px;
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			.entryBlock{
				margin-bottom: 80px;
				.cotentTitle{
					font-size: 24px;
					// background: url('/assets/images/icon_heart.png') 3px 10px/35px auto no-repeat #fffff3;
					background: url('/assets/images/icon_heart2.png') 3px 15px/28px auto no-repeat #fffff3;
					padding-left: 40px;
				}
				h3{
					font-size: 20px;
				}
				h4{
					font-size: 17px;
				}
				h5{
					font-size: 15px;
				}
			}
		}
	}

	.userProfile{
		margin-bottom: 50px;
		.userProfileTitle{
			font-size: 1.1rem;
			margin-bottom: 5px;
			color: #666;
		}
		.userProfileInner{
			border: 3px solid #ededed;
			padding: 10px;
			display: flex;
			justify-content: space-between;
		}
		.userProfileAvator{
			width: 76px;
		}
		.userProfileInfo{
			flex: 1;
			padding-left: 10px;
			.userProfileName{
				font-size: 1.05rem;
				font-weight: bold;
				padding-bottom: 3px;
				margin-bottom: 8px;
				border-bottom: 1px dotted #999;
			}
			.userProfileDesc{
				font-size: 0.9rem;
			}
			.userProfileSite{
				font-size: 0.9rem;
				margin-top: 5px;
				a{
					color: $linkColor;
				}
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			margin-bottom: 80px;
			.userProfileInner{
				border: 5px solid #ededed;
				padding: 15px;
			}
			.userProfileAvator{
				width: 100px;
			}
			.userProfileInfo{
				padding-left: 30px;
				.userProfileName{
					padding-bottom: 5px;
					margin-bottom: 10px;
				}
				.userProfileDesc,
				.userProfileSite{
					font-size: 1rem;
				}
			}
		}
	}
// }
