html{
	width: 100%;
	background-color: #fff;
	font-size: 13px;
	@media screen and (min-width: $breakpoint + 1){
		font-size: 16px;
	}
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	font-family: $baseFont;
	line-height: 1.4;
	color: #3f3f3f;
	width: 100%;
	word-wrap: break-word;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  &.underline{
  	text-decoration: underline;
  	transition: opacity .3s;
	&:hover{
		opacity: 0.75;
	}
  }
  &.emph{
  	color: $keyColor;
  }
}
img {
  /*-ms-interpolation-mode: bicubic;*/
  vertical-align: bottom;
  max-width: 100%;
  &.lazy{
  	opacity: 0;
  	&.loaded{
  		opacity: 1;
  		transition: opacity .2s;
  	}
  }
}
/* 画像配置 */
img.alignleft,
amp-img.alignleft {
				text-align: left;
}
img.aligncenter,
amp-img.aligncenter {
				display: block;
				margin: 0 auto;
}
img.alignright,
amp-img.alignright {
				display: block;
				margin: 0 0 0 auto;
}


p{
	&:not(:last-child){
		// border:1px solid #f00;
		margin-bottom: 15px;
	}
}

table{
	border-collapse:collapse;
}
 .center{
 	text-align: center;
 }


.onlySmall{
	display: none;
	@media ( max-width: $breakpoint ){
		display: block;
	}
}
.exceptSmall{
	display: none;
	@media ( min-width: $breakpoint + 1px ){
		display: block;
	}
}

/*---------------------------------
HEADER
---------------------------------*/
.gHeader{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: $sp_headerHight;
	background-color: #fff;
	z-index: 999;
	.gHeaderLogo{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		// width: 175px;
		height: 47px;
		img{
			// width: 100%;
			height: 100%;
		}
	}
	.hamburger{
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		width: 30px;
		&.hide{
			display: none;
		}
		img{
			width: 100%;
		}
		.newsIcon{
			top: 3px;
			right: -5px;
		}
	}
	@media screen and (max-width: $breakpoint-m ){
		.snsLink,
		.gHeaderBanner{
			display: none;
		}
	}

	@media screen and (min-width: $breakpoint-m + 1){
		position: relative;
		height: $pc_headerHight;
		max-width: $contentMaxWidth;
		margin: 0 auto;
		.gHeaderLogo{
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translateY(-50%);
			// width: 240px;
			height: 64px;
		}
		.gHeaderBanner{
			margin-right: $naviWidth + 40px + 15px;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			img{
				height: 52px;
			}
			a{
				@include hover;
			}
		}
		.hamburger{
			display: none;
		}
		.snsLink{
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
		}
	}
}

.gNavi{
	position: fixed;
	// display: none;
	opacity: 0;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	z-index: 999;
	transition: opacity .4s, left 0s .4s;
	.gNaviClose{
		position: absolute;
		top: 0;
		left: 90px;
		transform: translateX(-100%);
		color: #fff;
		font-size: 34px;
		line-height: 1;
		z-index: 2;
		@media screen and (min-width: $breakpoint-m + 1){
			display: none;
		}
	}

	.gNaviContainer{
		position: relative;
		margin-left: 100px;
		width: calc(100% - 100px);
		min-height: 100%;
		height: 100%;
		background-color: #fff;
		-webkit-overflow-scrolling: touch;
		overflow: auto;
		transform: translateX(100%);
		transition: transform .4s;
		z-index: 1;
		.newsInfo{
			padding: 8px 5px;
			position: relative;
			.newsIcon{
				position: absolute;
				top: 50%;
				right: 5px;
				transform: translateY(-50%);
				z-index: 3;
			}
			&::after{
				content: '';
				position: absolute;
				top: 50%;
				right: 5px;
				width: 12px;
				height: 12px;
				transform: translateY(-50%);
				background: url('/assets/images/arrow.svg') center center/100% auto no-repeat;
				z-index: 2;
			}
		}
		.gNaviHeadline{
			// font-family: "Midashi Go MB31", $baseFont;
			font-weight: bold;
			background-color: $keyColor;
			color: #fff;
			text-align: center;
			padding: 8px 5px;
			line-height: 1;
		}
		.gNaviMenu{
			&.borderBottom{
				border-bottom: 1px solid #ccc;
			}
			li{
				&:not(:last-child){
					border-bottom: 1px solid #ccc;
				}
				a{
					position: relative;
					display: block;
					padding: 8px 15px 8px 5px;
					line-height: 1.3;
					&::after{
						content: '';
						position: absolute;
						top: 50%;
						right: 5px;
						width: 12px;
						height: 12px;
						transform: translateY(-50%);
						background: url('/assets/images/arrow.svg') center center/100% auto no-repeat;
					}
				}
			}
			&.noneArrow{
				li{
					a{
						padding: 8px 5px;
						&::after{
							background-image: none;
						}
					}
				}
			}
		}
		.gNaviBanner{
			padding: 10px;
			li{
				&:not(:last-child){
					margin-bottom: 10px;
				}
				a{
					display: block;
				}
			}
		}
		.readMore{
			margin-bottom: 5px;
			padding: 0 5px;
			a{
				display: block;
				background-color: #b8b7b7;
				color: #fff;
				text-align: center;
				padding: 5px;
				border-radius: 5px;
				margin-bottom: 10px;
				font-size: 0.9rem;
				line-height: 1.2;
				&::before{
					content: '';
					display: inline-block;
					width: 10px;
					height: 10px;
					margin-right: 3px;
					margin-top: 3px;
					background: url('/assets/images/arrow_w.svg') center center/100% auto no-repeat;
				}
			}
		}

		.keywordSearch{
			margin-bottom: 10px;
			padding: 5px;
			form{
				display: flex;
				justify-content: space-between;
				input{
					flex: 1;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					border: 1px solid #999;
					border-right: none;
					padding: 5px;
				}
				button{
					width: 40px;
					text-align: center;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					border: 1px solid #999;
					background: #f1f1f1;
					outline: none;
					padding: 0;
					appearance: none;
					cursor: pointer;
					img{
						width: 60%;
					}
				}
			}
		}
		.gNaviFooter{
			padding: 10px;
			text-align: center;
			.snsLink{
				margin: 0 auto;
				justify-content: center;
				margin-bottom: 10px;
			}
			.copyright{
				font-size: 9px;
			}
		}
	}
	.gNaviBg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
		z-index: 0;
	}

	&.active{
		opacity: 1;
		left: 0;
		transition: opacity .4s;
		.gNaviContainer{
			transform: translateX(0);
		}
	}

	@media screen and (min-width: $breakpoint-m + 1){
		position: relative;
		display: block;
		width: $naviWidth;
		background-color: transparent;
		z-index: 1;
		opacity: 1;
		left: 0;
		.gNaviContainer{
			margin: 0;
			width: 100%;
			height: auto;
			transform: translateX(0);
			margin-bottom: 50px;
			.newsInfo{
				padding: 8px 10px;
				position: relative;
				border: 1px solid #ccc;
				margin-bottom: 25px;
				border-radius: 4px;
				cursor: pointer;
				@include hover;
				&::after{
					// display: none;
					transform: rotate(90deg);
					margin-top: -5px;
					margin-right: 5px;
				}
			}
			.gNaviHeadline{
				background-color: $keyColor;
				color: #fff;
				text-align: center;
				padding: 8px 5px;
				line-height: 1;
			}
			.gNaviMenu{
				li{
					font-size: 0.9rem;
					a{
						@include hover;
					}

				}
			}
			.gNaviBanner{
				padding: 10px 0;
				li{
					&:not(:last-child){
						margin-bottom: 10px;
					}
					a{
						@include hover;
					}
				}
			}
		}
		.gNaviBg{
			display: none;
		}
		.readMore{
			a{
				@include hover;
			}
		}
	}
}

/*---------------------------------
ELEMENT
---------------------------------*/
.contents{
	padding-top: $sp_headerHight;
	min-height: calc(100% - #{$sp_footerHight});


	@media screen and (min-width: $breakpoint-m + 1){
		max-width: $contentMaxWidth;
		margin: 0 auto;
		padding: 0 15px;
		display: flex;
		flex-direction: row-reverse;
	}
}

.mainContents{
	@media screen and (max-width: $breakpoint){
		min-height: 500px;
	}
	@media screen and (min-width: $breakpoint-m + 1){
		flex: 1;
		padding-right: 40px;
	}
}



.contentBlock{
	margin-bottom: 40px;
	&:last-child{
		margin-bottom: 20px;
	}
	@media screen and (min-width: $breakpoint + 1){
		margin-bottom: 100px;
		&:last-child{
			margin-bottom: 30px;
		}
	}
}
.contentInner{
	padding: 0 15px;
	@media screen and (min-width: $breakpoint + 1){
		padding: 0 25px;
	}
}
.paragraph{
	margin-bottom: 20px;
	@media screen and (min-width: $breakpoint + 1){
		margin-bottom: 30px;
	}
}

.pageTitle{
	font-size: 16px;
	line-height: 1.3;
	font-weight: bold;
	border-left: 7px solid $keyColor;
	padding: 5px 5px 5px 10px;
	margin: 10px 0 10px;
	@media screen and (min-width: $breakpoint + 1){
		font-size: 20px;
		margin: 20px 0 20px;
	}
}

.pageHeadline1{
	font-size: 1.15rem;
	border-bottom: 3px double $keyColor;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.basicTable{
	border-collapse: collapse;
	width: 100%;
	th,td{
		padding: 10px 10px;
		border: 1px solid #ccc;
	}
	th{
		background-color: $keyColor;
		text-align: left;
		color: #fff;
	}
	@media screen and (min-width: $breakpoint + 1){
		th,td{
			padding: 15px 15px;
		}
	}
}

.textLink{
	color: $linkColor;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}
.snsLink{
	display: flex;
	li{
		width: 30px;
		margin: 0 3px;
		a{
			@include hover;
		}
	}
}

.snsShare{
	padding: 10px 0;
	display: flex;
	margin-bottom: 10px;
	li{
		flex: 1;
		// padding: 2px;
		max-height: 30px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		&.facebook{
			background-color: #32529f;
		}
		&.twitter{
			background-color: #1da1f2;
		}
		&.hatena{
			background-color: #2C6EBD;
		}
		&.line{
			background-color: #52b448;
		}
		&:not(:last-child){
			margin-right: 3px;
		}
		a{
			display: block;
			width: 100%;
			height: 100%;
			img{
				width: 24px;
				display: block;
				margin: 0 auto;
			}
		}

		amp-social-share[type=facebook],
		amp-social-share[type=twitter],
		amp-social-share[type=hatena_bookmark],
		amp-social-share[type=line] {
			//公式ボタンで反映しない
			// width: 30px;
			// height: 30px;
			background-size: 30px 30px;
		}
		amp-social-share[type=hatena_bookmark]{
			width: 60px;
			height: 44px;
			background-image: url('/assets/images/icon_hatena.svg');
			background-size: 26px 26px;
		}
	}

	@media screen and (min-width: $breakpoint + 1){
		padding: 15px 0;
		li{
			&:not(:last-child){
				margin-right: 5px;
			}
			a{
				padding: 2px;
				@include hover;
				img{
					width: 26px;
				}
			}
		}
	}
}

.rating{
	display: inline-block;
	font-size: 0;
	width: 12px;
	height: 12px;
	background: url('/assets/images/rating.png') center center/100% auto no-repeat;
	vertical-align: bottom;
	@media screen and (min-width: $breakpoint + 1){
		width: 15px;
		height: 15px;
	}
}

.ctaButto{
	position: relative;
	display: inline-block;
	// color: #fff!important;
	// text-decoration: none!important;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 1.2rem;
	font-weight: bold;
	overflow: hidden;
	min-width: 280px;
	text-align: center;
	@media screen and (min-width: $breakpoint + 1){
		font-size: 1.4rem;
		padding: 15px 30px;
		@include hover;
	}
	&.green{
		background-color: #44dc09;
	}
	&.red{
		background-color: #ff175e;
	}
	&.blue{
		background-color: #137dff;
	}
	&.orange{
		background-color: #ff7608;
	}


	&.expand{
		border-radius: 10px;
		box-shadow: inset 0 4px 0 rgba(255,255,255,0.2), inset 0 -4px 0 rgba(0, 0, 0, 0.05);
		border: 3px solid rgba(0,0,0,0.1);
		animation: expand .5s infinite alternate;
		@media screen and (min-width: $breakpoint + 1){
			border-radius: 20px;
		}
	}
	@keyframes expand {
		 0% {
		    transform: scale(1);
		 }
		 100% {
		    transform: scale(1.06);
		 }
	}

	&.blink{
		border-radius: 4px;
		border-bottom: solid 3px #444;
		@media screen and (min-width: $breakpoint + 1){
			border-radius: 6px;
		}
		&::before {
			content: "";
		    display: block;
		    position: absolute;
		    // z-index: -1;
		    // left: -30%;
		    // top: -50%;

		    top: 0;
		    left: 0;
		    width: 30px;
		    height: 100%;
		    // transform: translate(0, -50%);
		    transform: scaleY(2) rotate(30deg);
		    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5), 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 100%);
		    animation: blink 3s infinite linear;
		}
	}
	@keyframes blink {
		0% {
	        left: -30%;
	    }
	    20% {
	        left: 120%;
	    }
	    100% {
	        left: 120%;
	    }
	}
}

.pointList{
	.pointTitle{
		padding: 5px 15px;
		color: #fff;
		font-size: 1.1rem;
		font-weight: bold;
		display: inline-block;
		background-color: #599FD3;
		margin-bottom: 10px;
		border-radius: 5px;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			bottom: -15px;
			left: 15px;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-top: 10px solid #599FD3;
		}
	}
	ul{
		background-color: #e7f5ff;
		padding: 10px;
		// border: px solid #599FD3;
		li{
			position: relative;
			padding-left: 20px;
			&:not(:last-child){
				margin-bottom: 5px;
			}
			&::after{
				content: '';
				position: absolute;
				top: 3px;
				left: 0;
				width: 14px;
				height: 14px;
				border-radius: 3px;
				background: url('/assets/images/icon_check.svg') top right/80% auto no-repeat #008df4;
			}
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		ul{
			padding: 15px;
			li{
				padding-left: 25px;
				&:not(:last-child){
					margin-bottom: 10px;
				}
				&::after{
					width: 18px;
					height: 18px;
				}
			}
		}
	}

}

.rankingDeco{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.crown{
		width: 70px;
		height: 70px;
		background: url('/assets/images/ranking_crown.png') center center/100% auto no-repeat;
		display: flex;
		padding-top: 10px;
		// align-items: center;
		justify-content: center;
		font-family: 'Playfair Display SC', serif;
		color: #e2c14a;
		font-size: 38px;
		line-height: 1;
	}
	.title{
		width: calc(100% - 80px);
		font-size: 1.3rem;
		font-weight: bold;
		color: #e2c14a;
		span{
			display: block;
			font-size: 0.9rem;
			color: #666;
			margin-top: 3px;
		}

	}
	@media screen and (min-width: $breakpoint + 1){
		.crown{
			width: 90px;
			height: 90px;
			font-size: 48px;
			padding-top: 12px;
		}
		.title{
			width: calc(100% - 100px);
			font-size: 24px;
		}
	}
}

/*口コミ・コメント*/
ul.review{
	padding: 0 5px;
	li{
		border: 3px solid #fff;
		border-radius: 5px;
		display: flex;
		padding: 5px;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.4);

		&:nth-child(n+4){
			/*4つ目以降非表示*/
			display: none;
		}
		&:not(:last-child){
			margin-bottom: 15px;
		}
		&:nth-child(odd){
			background-color: #bfedff;
		}
		&:nth-child(even){
			background-color: #f8d8e7;
		}
		.avatar{
			width: 60px;
			height: 60px;
			border-radius: 50%;
			overflow: hidden;
			background-color: #fff;
			img,
			amp-img{
				width: 100%;
			}
		}
		.comment{
			flex: 1;
			padding-left: 10px;
			.valuation{
				display: flex;
				margin-bottom: 10px;
				span{
					display: block;
					margin-right: 3px;
					width: 20px;
					height: 20px;
					background: url('/assets/images/rating.png') center center/100% auto no-repeat;
					font-size: 0;
				}
			}
		}

		.cld-like-dislike-wrap{
			margin: 10px 0 5px;
			display: block;
		}
		.cld-like-wrap{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			// flex-direction: row-reverse;
		}
		.cld-like-trigger{
			background-color: #fff;
			padding: 5px 10px;
			color: #333;
			font-size: 13px;
			line-height: 1;
			border-radius: 5px;
			box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
			margin-right: 5px;
		}
		.cld-like-count-wrap{
			padding: 0 5px;
			font-weight: bold;
			color: #e95179;
			display: flex;
			align-items: center;
		}
		.cld-like-count-wrap::before{
			// content: '\02665';
			content: '';
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-right: 3px;
			background: url('/assets/images/icon_like.png') center/100% auto no-repeat;
		}
	}

	@media screen and (min-width: $breakpoint + 1){
		li{
			border-radius: 10px;
			padding: 8px;
			&:not(:last-child){
				margin-bottom: 20px;
			}

			.avatar{
				width: 80px;
				height: 80px;
			}
			.comment{
				padding-left: 15px;
			}
		}
	}
}

/*カテゴリーナビ*/
.categoryNavi{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	padding: 0 5px;
	li{
		width: calc(25% - 1px);
		text-align: center;
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			border: 1px solid $keyColor;
			// box-shadow: 1px 1px 0 2px rgba(0,0,0,.2);
			padding: 8px 0;
			line-height: 1.2;
			text-shadow: 0 1px 3px rgba(191,67,127,.7);
			height: 100%;
			// border-radius: 5px;
			background: linear-gradient(#f87fb9 45%,#f95793 55%);
			color: #fff;
			font-weight: bold;
		}
	}
	@media (min-width: $breakpoint + 1px){
		margin-bottom: 30px;
		padding: 0;
		li{
			a{
				padding: 12px 5px;
				font-size: 1.1rem;
				@include hover;
			}
		}
	}
}
/*---------------------------------
FOOTER
---------------------------------*/
.gFooter{
	position: relative;
	border-top: 1px solid #ccc;
	padding: 15px 15px;
	.gFooterinner{
		margin: 0 auto;
		max-width: $contentMaxWidth;
		.gFooterNavi{
			font-size: 0.85rem;
			display: flex;
			justify-content: center;
			margin: 0 auto 10px;
			li{
				&:not(:last-child){
					margin-right: 10px;
					padding-right: 10px;
					border-right: 1px solid #ccc;
				}

			}
		}
		.snsLink{
			justify-content: center;
		}
		.copyright{
			margin-top: 10px;
			font-size: 9px;
			text-align: center;
		}
		.pageTopContainer{
			display: none;
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		.gFooterinner{
			position: relative;
			display: flex;
			align-items: center;
			.gFooterNavi{
				margin: 0 20px 0 0;
			}
			.copyright{
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				margin-top: 0;
				font-size: 11px;
				text-align: center;
			}
		}
		@media screen and (max-width: $breakpoint-m ){
			.gFooterinner{
				.copyright{
					left: auto;
					right: 15px;
					transform: translateX(0);
				}
			}
		}
	}
}

/*AMP用フッター*/
.amp-mode{
	.gNavi{
		position: relative;
		opacity: 1;
		left: 0;
		z-index: 1;
		padding: 0;
		.gNaviContainer{
			width: 100%;
			margin-left: 0;
			transform: none;
			height: auto;
			min-height: auto;
		}
	}
	.gFooter{
		border-top: none;
		padding: 30px 0 70px;
		// padding-bottom: 70px;
	}
}
.footerBanner{
	position: fixed;
	// height: 50px;
	padding: 5px;
	text-align: center;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #fff;
	// box-shadow: 0 -2px 2px rgba(0,0,0,0.1);
	z-index: 998;
	img{

	}
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
