html{
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-size: 13px;
	@media screen and (min-width: $breakpoint + 1){
		font-size: 14px;
	}
}
body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	font-family: 'Noto Sans Japanese', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
	line-height: 1.4;
	color: #333;
	height: 100%;
	width: 100%;
	word-wrap: break-word;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  &.underline{
  	text-decoration: underline;
  	transition: opacity .3s;
	&:hover{
		opacity: 0.75;
	}
  }
  &.emph{
  	color: $lookred;
  	transition: opacity .3s;
	&:hover{
		opacity: 0.75;
	}
  }
  .icon{
  	font-size: 120%;
  	vertical-align: middle;
  }
}
img {
  /*-ms-interpolation-mode: bicubic;*/
  vertical-align: bottom;
  max-width: 100%;
}

p{
	&:not(:last-child){
		// border:1px solid #f00;
		margin-bottom: 15px;
	}
}

table{
	border-collapse:collapse;
}
 .center{
 	text-align: center;
 }


.onlySmall{
	display: none!important;
	@media ( max-width: $breakpoint ){
		display: block!important;
	}
}
.exceptSmall{
	display: none!important;
	@media ( min-width: $breakpoint + 1px ){
		display: block!important;
	}
}

.breadcrumb{
	background-color: #e7e7e7;
	padding: 0 15px;
	ul{
		height: 40px;
		// display: flex;
		// align-items: center;
		font-size: 0.85rem;
		color: #555;
		li{
			white-space: nowrap;
			display: inline;
			line-height: 40px;
			&:not(:first-child){
				&::before{
					content: ">";
					margin: 0 5px;
				}
			}
		}
	}
	@media screen and (max-width: $breakpoint){
		ul{
			overflow-x: auto;
			overflow-y: hidden;
			height: 30px;
			li{
				line-height: 30px;
			}
		}
	}
}



.basicTable{
	border-collapse: collapse;

	th,td{
		padding: 5px 15px;
		border: 1px solid #ccc;
	}
	th{
		background-color: $lightGray;
		text-align: left;
		color: #666;
	}
	@media screen and (max-width: $breakpoint){
		th,td{
			padding: 3px 10px;
		}
	}
}

/*---------------------------------
HEADER
---------------------------------*/
.gHeader{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	height: $sp_headerHight;
	background-color: #fff;
	z-index: 999;
	.gHeader__logo{
		position: absolute;
		left: 10px;
		bottom: 13px;
		width: 180px;
		img{
			width: 100%;
		}
	}
	.gHeader__gNavi__button{
		text-align: center;
		.icon{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -18px);
			font-size: 28px;
		}
		span{
			position: absolute;
			bottom: 3px;
			width: 100%;
			left: 0;
			font-size: 10px;
		}
	}

	.gHeader__subNavi{
		position: absolute;
		top: 0;
		right: $sp_headerHight;
		display: flex;
		align-items: center;
	}
	.gHeader__cvn{
		width: $sp_headerHight;
		height: $sp_headerHight;
		a{
			display: block;
			background-color: $lookred;
			color: #fff;
			width: 100%;
			height: 100%;
		}
	}
	.gHeader__gNavi{
		position: relative;
		.gHeader__gNavi__menu{
			position: absolute;
			top: 0;
			right: 0;
			width: $sp_headerHight;
			height: $sp_headerHight;
			// background-color: #2f2f2f;
			background-color: #515151;
			color: #fff;
		}
		.gHeader__gNavi__wrapper{
			position: fixed;
			top: -100%;
			width: 100%;
			height: calc(100% - #{$sp_headerHight});
			background-color: hsla(60,0,10,0.85);
			color: #fff;
			opacity: 0;
			transition: opacity .3s, top 0s .3s;
		}
		ul.gHeader__gNavi__inner{
			// height: calc(100% - #{$sp_headerHight});
			// border: 5px solid #f00;
			position: relative;
			max-height: 100%;
			color: #fff;
			overflow: scroll;
			// -webkit-overflow-scrolling: touch;
			> li{
				background-color: #515151;
				margin-bottom: 1px;
				transform: translateY(-20px);
				transition: transform .3s;
			}
			li{
				a{
					position: relative;
					display: block;
					padding: 15px 25px 15px 15px;
					&::after{
						content: "\e901";
						font-family: 'icomoon' !important;
						position: absolute;
						right: 15px;
						top: 50%;
						transform: translateY(-50%) rotate(90deg);
						font-size: 16px;
					}
					&.hasSubmenu{
						&::before,
						&::after{
							content: "";
							position: absolute;
							right: 22px;
							top: 50%;
							height: 12px;
							width: 2px;
							background-color: #fff;
							transform: translateY(-50%) rotate(0);
							// content: "\e903";
							// transform: translateY(-50%) rotate(45deg);
							transition: height .3s;
						}
						&::before{
							background-color: #fff;
							transform: translateY(-50%) rotate(90deg);
						}
					}
					.icon{
						font-size: 18px;
						margin-right: 5px;
					}
				}
				&.active{
					a{
						&.hasSubmenu{
							&::after{
								height: 0;
								// transform: translateY(-50%) rotate(180deg);
							}
						}
					}
					.gHeader__gNavi__submenu{
						// display: block;
						padding-bottom: 8px;
						a{
							padding: 8px 25px 8px 25px;
							opacity: 1;
						}
					}
				}
				.gHeader__gNavi__submenu{
					li{
						a{
							font-size: 0.9rem;
							padding: 0 25px 0 25px;
							line-height: 0;
							opacity: 0;
							// padding: 8px 25px 8px 25px;
							transition: all .3s;
							&::after{
								content: '';
								// font-size: 14px;
								// right: 17px;
							}
						}
					}
				}
			}
		}

		&.active{
			.gHeader__gNavi__wrapper{
				// display: block;
				top: $sp_headerHight;
				opacity: 1;
				transition: opacity .3s, top 0s;
				ul.gHeader__gNavi__inner > li{
					transform: translateY(0);
				}
			}
		}
	}
}

/*---------------------------------
ELEMENT
---------------------------------*/
.contents{
	padding-top: $sp_headerHight;
	min-height: calc(100% - #{$sp_footerHight});
	@media screen and (min-width: $breakpoint + 1){
		max-width: 1200px;
		margin: 0 auto;
		padding-top: $pc_headerHight;
		display: flex;
		flex-direction: row-reverse;
	}
}
.gNavi{
	@media screen and (min-width: $breakpoint + 1){
		width: 300px;
	}
}
.mainContents{
	@media screen and (min-width: $breakpoint + 1){
		flex: 1;
		padding-right: 40px;
	}
}
.contentBlock{
	&:not(:last-child){
		margin-bottom: 40px;
	}
}
.contentInner{
	padding: 0 15px;
}
.paragraph{
	margin-bottom: 20px;
}

/*---------------------------------
サロン情報
---------------------------------*/
.salonHeader{
	position: relative;
	background: url('/assets/images/headline_bg.jpg') center center/auto 100% no-repeat;
	height: 60px;
	display: flex;
	align-items: center;
	.rankIcon{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		&.best3{
			height: 90px;
		}
	}
	.salonName{
		font-size: 24px;
		font-weight: bold;
		padding-left: 110px;
		color: #fff;
		text-shadow: 3px 3px 1px rgba(212, 53, 129, 0.9);
	}
	@media screen and (min-width: $breakpoint + 1){
		height: 80px;
		.rankIcon{
			&.best3{
				height: 140px;
			}
		}
		.salonName{
			font-size: 34px;
			padding-left: 180px;
			text-shadow: 3px 3px 1px rgba(212, 53, 129, 0.9);
		}
	}
}

.salonBody{
	.salonInfo{
		.radarChart{
			overflow: visible;
			margin-top: 30px;
			max-width: 600px;
		}
	}
	.salonInfoTitle{
		height: 30px;
		border-top: 1px solid #55d6fb;
		background: url('/assets/images/salonInfo_headline_bg.gif') top right/auto 100% no-repeat #04b1f0;
		box-shadow: 0 2px 2px rgba(0,0,0,0.2);
		margin-bottom: 10px;
		color: #fff;
		line-height: 30px;
		padding-left: 10px;
		font-size: 1.1rem;
		font-weight: bold;
	}
	.salonInfoPoint{
		padding: 15px 15px;
		background-color: #fffce9;
		.pointFrame{
			position: relative;
			width: 100%;
			max-width: 420px;
			margin: 0 auto;
			padding-top: 44%;
			background: url('/assets/images/point_bg.png') top left/100% auto no-repeat;
			ul{
				position: absolute;
				top: 35%;
				left: 12%;
				width: 100%;
				li{
					color: #fff;
					font-size: 12px;
					background: url('/assets/images/point_check.png') center left/16px auto no-repeat;
					padding-left: 20px;
				}
				
			}
			
		}
	}
	.salonInfoOverview{
		table{
			width: 100%;
			th,
			td{
				width: 25%;
				border: 1px solid #ccc;
				padding: 5px;
				text-align: center;
				font-size: 0.85rem;
				line-height: 1.2;
			}
			th{
				background-color: #23b7aa;
				color: #fff;
			}
		}
	}
	.salonReview{
		.review{
			li{
				border: 3px solid #fff;
				border-radius: 5px;
				display: flex;
				padding: 5px;
				box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
				&:not(:last-child){
					margin-bottom: 15px;
				}
				&:nth-child(odd){
					background-color: #bfedff;
				}
				&:nth-child(even){
					background-color: #f8d8e7;
				}
				.avatar{
					width: 60px;
					height: 60px;
					border-radius: 50%;
					overflow: hidden;
					background-color: #fff;
					img{
						width: 100%;
					}
				}
				.comment{
					flex: 1;
					padding-left: 10px;
				}
			}
		}
	}
	.numberOfPeople{
		position: relative;
		border: 1px solid #8fc320;
		background-color: #eefdca;
		border-radius: 5px;
		padding: 5px 15px 10px 15px;
		color: #8fc320;

		&::before{
		  content: "";
		  position: absolute;
		  bottom: -22px;
		  left: 25%;
		  margin-left: 2px;
		  border: 11px solid transparent;
		  border-top: 11px solid #eefdca;
		  z-index: 2;
		}

		&::after{
		  content: "";
		  position: absolute;
		  bottom: -26px;
		  left: 25%;
		  border: 13px solid transparent;
		  border-top: 13px solid #8fc320;
		  z-index: 1;
		}

		.num{
			color: #f98b07;
			margin: 0 3px;
			strong{
				font-size: 1.4rem;
				font-weight: bold;
			}
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		.salonInfo{
			display: flex;
			border: 1px solid #F00;
			.leftBlock{
				width: 50%;
			}
			.rightBlock{
				width: 50%;
			}
		}
		.salonInfoPoint{
			padding: 15px 0;
			background-color: transparent;
			.pointFrame{
				ul{
					li{
						font-size: 14px;
						background: url('/assets/images/point_check.png') center left/20px auto no-repeat;
						padding-left: 25px;
					}
					
				}
				
			}
		}
	}
}


.rating{
	span{
		display: inline-block;
		font-size: 0;
		width: 12px;
		height: 12px;
		background: url('/assets/images/rating.png') center center/100% auto no-repeat;
		vertical-align: bottom;
		
	}
	@media screen and (min-width: $breakpoint + 1){
		span{
			width: 15px;
			height: 15px;
		}	
	}
}


/*---------------------------------
FOOTER
---------------------------------*/
.gFooter{
	position: relative;
	background-color: #515151;
	color: #fff;
	height: $sp_footerHight;
	padding: 15px;
	.gFooter__navi{
		font-size: 0.85rem;
		margin: 20px 0 10px;
		li{
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 10px;
		}
	}
	.gFooter__logo{
		display: flex;
		align-items: center;
		img{
			width: 150px;
			display: block;
			margin-right: 10px;
		}
		p{
			opacity: 0.6;
			font-size: 10px;
		}
	}
	.pageTop{
		right: 15px;
		top: 0;
		transform: translateY(-50%);
	}
}


/*---------------------------------
swiper
---------------------------------*/
.swiper-container{
	padding-bottom: 22px;

	.swiper-pagination-fraction{
		font-size: 0.85rem;
		line-height: 14px;
		bottom: 0;
		width: 50px;
		left: 50%;
		transform: translateX(-50%);
	}
	.swiper-button-prev{
		top: auto;
		bottom: 0;
		background-image: none;
		width: 14px;
		height: 14px;
		left: 50%;
		right: auto;
		margin-left: -30px;
		transform: translateX(-100%);
		border-radius: 50%;
		background-color: #333;
		&::after{
			content: "\e901";
			font-family: 'icomoon'!important;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(-90deg);
			font-size: 10px;
			color: #fff;
		}
	}
	.swiper-button-next{
		top: auto;
		bottom: 0;
		background-image: none;
		width: 14px;
		height: 14px;
		left: 50%;
		right: auto;
		margin-left: 30px;
		border-radius: 50%;
		background-color: #333;
		&::after{
			content: "\e901";
			font-family: 'icomoon'!important;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(90deg);
			font-size: 10px;
			color: #fff;
		}
	}
}


@mixin grayback {
    content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $lightGray;
	z-index: -1;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


