.glossaryList{
  padding: 0 5px;
  > li{
    &:not(:last-child){
      margin-bottom: 30px;
    }
    .catTitle{
      font-size: 1.15rem;
      margin-bottom: 10px;
      border-bottom: 1px dotted #ccc;
      font-weight: bold;
      padding-bottom: 3px;
    }
    .wordList{
      display: flex;
      flex-wrap: wrap;
    }

    .wordItem{
      width: 50%;
      &:not(:last-child){
        margin-bottom: 7px;
      }
      &:nth-child(odd){
        padding-right: 15px;
      }
      &:nth-child(even){
        padding-left: 15px;
      }
      .word{
        font-size: 1.1rem;
        line-height: 1.3;
        color: inherit;
        position: relative;
        padding-left: 12px;
        display: inline-block;
        margin-bottom: 5px;
        &::before{
          content: '';
          position: absolute;
          top: 6px;
          left: 3px;
          width: 0;
          height: 0;
          border: 3px solid transparent;
          border-left: 5px solid $keyColor;
          opacity: 0.7;
          // transform: rotate(90deg);
          // transition: transform .3s;
        }
        &.active{
          &::before{
            top: 4px;
            transform: rotate(-90deg);
          }
        }
      }
      .description{
        // display: none;
        padding-left: 15px;
        opacity: 0;
        overflow: hidden;
        line-height: 0;
        transition: line-height .2s .2s, opacity .4s;
        &.active{
          line-height: 1.5;
          opacity: 1;
          transition: line-height .2s, opacity .4s .1s;
        }
      }
    }
    .buttonContainer{
      text-align: center;
      margin-top: 15px;
      a{
        background-color: $keyColor;
        color: #fff;
        border-radius: 4px;
        padding: 5px 10px;
        line-height: 1;
      }
    }
  }

  @media all and (min-width: $breakpoint + 1){
    > li{
      &:not(:last-child){
        margin-bottom: 40px;
      }
      .wordList{
        // display: flex;
        // flex-wrap: wrap;
      }

      .wordItem{
        // width: 50%;
        &:not(:last-child){
          margin-bottom: 15px;
        }
        a{
          @include hover;
        }
        .word{
          font-size: 1rem;
          // &::before{
          //   top: 10px;
          // }
          // &.active{
          //   &::before{
          //     top: 6px;
          //   }
          // }
        }
      }
      .buttonContainer{
        margin-top: 20px;
        a{
          padding: 7px 20px;
          @include hover;
        }
      }
    }
  }
}

.glossaryNavi{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin-bottom: 20px;
  li{
    // width: 25%;
    width: 20%;
    padding: 0 3px;
    margin-bottom: 6px;
    &--wide{
      width: 50%;
    }
    a{
      display: block;
      padding: 5px;
      border-radius: 4px;
      border: 1px solid #ccc;
      line-height: 1.2;
      font-weight: bold;
      font-size: 11px;
      background-image: linear-gradient(#ffffff, #f1f1f1);
      position: relative;
      padding-left: 20px;
      &::after{
        content: '';
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $keyColor;
        z-index: 1;
      }
      &::before{
        content: '';
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translate(3px,-1px);
        width: 0;
        height: 0;
        border: 3px solid transparent;
        border-top: 4px solid #fff;
        z-index: 2;
      }
    }
  }
  @media all and (min-width: $breakpoint + 1){
    // padding: 15px 0;
    li{
      // width: 16.66%;
      &--wide{
        width: 33.33%;
      }
      a{
        font-size: 1rem;
        padding: 8px 8px 8px 25px;
        @include hover;
        &::after{
          left: 8px;
          width: 14px;
          height: 14px;
        }
        &::before{
          left: 8px;
          transform: translate(4px,-1px);
        }
      }
    }

  }
}

//詳細
#glossaryDetail{
  .glossaryTitle{
    color: $keyColor;
    font-size: 1.15rem;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 1px dotted #999;
    margin-bottom: 15px;
  }

  .backButton{
    margin-top: 30px;
    text-align: center;
    a{
      background-color: $keyColor;
      padding: 5px 20px;
      font-weight: bold;
      color: #fff;
      display: inline-block;
      border-radius: 4px;
      min-width: 100px;
    }
  }
  @media all and (min-width: $breakpoint + 1){
    .backButton{
      margin-top: 50px;
      a{
        min-width: 150px;
        @include hover;
      }
    }

  }
}
