#home{
	.video{
		position: fixed;
		top: $pc_headerHight;
		width: 100%;
		height: calc(100% - #{$pc_headerHight} - 1px);
		z-index: -1;
		overflow: hidden;
		video{
			// object-fit: cover;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: auto;
			height: auto;
			min-width: 100%;
			min-height: 100%;
			max-width: inherit;

		}
		.video__scroll{
			position: absolute;
			bottom: 15px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
			line-height: 1;
			color: #fff;
			letter-spacing: 0.05em;
			text-shadow: 0 0 10px rgba(0,0,0,0.5);
			span{
				display: block;
				text-align: center;
				transform: rotate(180deg);
				&::before{
					font-size: 36px;
				}
			}
		}
		.video__overlay{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.6);
			opacity: 0;
			z-index: 3;
			// border: 1px solid #f00;
		}
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255,255,255,0.5);
			z-index: 4;
		}
		&::before{
			content: '';
			position: absolute;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border:2px solid #fff;
			border-top: 2px solid rgba(255,255,255,0.5);
			top: 50%;
			left: 50%;
			z-index: 5;
			margin: -20px 0 0 -20px;
			animation: spin .5s linear 0s infinite;
		}
		&.loaded{
			&::after,
			&::before{
				transition: all .3s;
				opacity: 0;
			}
		}
	}

	.video + .homeContainer{
		margin-top: 100vh;
	}
	.homeContainer{
		position: relative;
		z-index: 0;
		background-color: $lightGray;
		// margin-top: 100vh;
	}
	.heroPanel{
		width: 100%;
		padding-bottom: 20px;
		.heroPanel__slide{
			position: relative;
			overflow: hidden;
			picture{
				display: block;
				width: 100%;
				height: 100%;
				transition: all .6s;
				img{
					width: 100%;
				}
				&:hover{
					// opacity: 0.8;
					transform: scale(1.02);
				}
			}

			.heroPanel__textBlock{
				position: absolute;
				margin-top: -20px;
				top: 50%;
				&.heroPanel__textBlock--right{
					left: auto;
					right: 40px;
				}
				&.heroPanel__textBlock--left{
					left: 40px;
					right: auto;
				}
				.heroPanel__catch{
					font-size: 42px;
					text-shadow: 0 0 30px rgba(255,255,255,0.6);
					color: #161616;
					line-height: 1.3;
				}
			}
		}
		.swiper-pagination{
			bottom: 0;
			.swiper-pagination-bullet{
				margin: 0 10px;
				width: 6px;
				height: 6px;
			}
			.swiper-pagination-bullet-active{
				background: $lookred;
			}
		}

	}

	.induction{
		padding-top: 120px;
		overflow: hidden;/*newがないとき対策*/
	}

	.news{
		background-color: #fff;
		// margin-top: 60px;
		padding: 40px 0;
		.contentInner{
			display: flex;
			align-items: flex-start;
			.news__title{
				width: 220px;
			}
			.news__list{
				width: calc(100% - 220px);
			}
		}
	}




	@media screen and (max-width: $breakpoint){
		.video{
			top: $sp_headerHight;
			height: 300px;
		}
		.video + .homeContainer{
			margin-top: 300px;
		}
	  	.heroPanel{
			.heroPanel__slide{
				picture{
					transition: unset;
					&:hover{
						opacity: 1;
						transform: scale(1);
					}
				}
				.heroPanel__textBlock{
					&.heroPanel__textBlock--right{
						text-align: right;
						right: 15px;
					}
					&.heroPanel__textBlock--left{
						text-align: left;
						left: 15px;
					}
					.heroPanel__catch{
						font-size: 22px;
						font-weight: bold;
						text-shadow: 0 0 20px rgba(255,255,255,0.8);
						// color: #fff;
						margin-bottom: 10px;
					}
				}
			}
			.swiper-pagination{
				bottom: 0;
				.swiper-pagination-bullet{
					margin: 0 10px;
					width: 6px;
					height: 6px;
				}
				.swiper-pagination-bullet-active{
					background: $lookred;
				}
			}

		}
		.induction{
			padding-top: 50px;
		}

		.news{
			background-color: #fff;
			padding: 30px 0 50px;
			.contentInner{
				display: block;
				.news__title{
					width: 100%;
				}
				.news__list{
					width: 100%;
				}
			}
		}
	}
}