.pageHeader{
  @media all and (max-width: $breakpoint){
    padding: 0 15px;
  }
  margin: 20px 0;
}
.pageContentEyecatch{
  margin-bottom: 30px;
}
.pageContentBlock{
  &:not(:last-child){
    margin-bottom: 30px;
  }
  .pageContentTitle{
    margin-bottom: 5px;
    font-size: 1.15rem;
    font-weight: bold;
    // color: #AAD2FF;
    color: #76BEFF;
    &::before{
      content: '〇';
    }
  }
  .pageContentBody{
    img,
    amp-img{
      height: auto;
    }
  }
  .contentBlock{
    margin-top: 15px;
  }
  @media all and (min-width: $breakpoint + 1px){
    &:not(:last-child){
      margin-bottom: 80px;
    }
    .pageContentTitle{
      font-size: 20px;
      margin-bottom: 15px;
    }
    .contentBlock{
      margin-top: 30px;
    }
  }
}

/*施術箇所一覧*/
.treatmentParts{
  border: 4px solid #FFE1FA;
  margin: 0 15px;
  @media all and (min-width: $breakpoint + 1px){
    margin: 0;
  }
  input{
    display: none;
  }
  .tabItem{
    text-align: center;
    padding: 5px;
    font-size: 1.15rem;
    width: 33.33%;
    float:left;
    border-bottom: 4px solid #FFE1FA;
    cursor: pointer;
    // @include hover;
    box-sizing: border-box;
    &:nth-of-type(2){
      border-right: 4px solid #FFE1FA;
      border-left: 4px solid #FFE1FA;
    }
  }
  input:checked + .tabItem {
    background-color: #FFE1FA;
  }
  .tabContent{
    display: none;
    padding: 15px;
    clear: both;
    position: relative;
    .illust{
      max-width: 500px;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
    .otherBtn{
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 30px);
      max-width: 580px;
      display: flex;
      justify-content: space-between;
      li{
        width: 28%;
        cursor: pointer;
        @include hover;
      }
    }
    @media all and (min-width: $breakpoint + 1px){
      padding: 40px 15px;
      .otherBtn{
        bottom: 30px;
      }
    }
  }
  #frontTab:checked ~ .frontContent,
  #backTab:checked ~ .backContent,
  #vioTab:checked ~ .vioContent {
    display: block;
    animation: fadeIn .4s;
  }
}
.partsList{
  li{
    .inner{
      display: flex;
      align-items: flex-start;
    }
    .thumb{
      width: 75px;
      display: block;
    }
    p{
      flex: 1;
      padding-left: 15px;
      // text-align: justify;
      font-size: 0.9rem;
    }
  }
  @media all and (max-width: $breakpoint){
    margin: 0 15px;
    li{
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }
  @media all and (min-width: $breakpoint + 1px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
    li{
      width: calc(50% - 20px);
      margin-bottom: 40px;
      .inner{
        @include hover;
      }
      .thumb{
        width: 120px;
        display: block;
      }
    }
  }
}

/*施術箇所詳細*/
.treatmentDetailHeader{
  margin-bottom: 30px;
  .title{
    display: inline-block;
    padding: 10px 30px;
    background-color: #76beff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  .body{
    border: 4px solid #76beff;
    padding: 15px;
    img,amp-img{
      width: 140px;
      display: block;
      margin: 0 auto;
    }
    .description{
      margin-top: 15px;
    }
  }
  @media all and (min-width: $breakpoint + 1px){
    .title{
      padding: 10px 50px;
      font-size: 20px;
    }
    .body{
      display: flex;
      align-items: flex-start;
      padding: 30px;
      img{
        width: 200px;
      }
      .description{
        flex: 1;
        padding-left: 30px;
      }
    }
  }
}
.partsImageSet{
  .imageBlock{
    width: 90px;
    margin: 0 auto;
  }
  .textBlock{
    // flex: 1;
    // padding-left: 20px;
    margin-bottom: 5px;
  }
  @media all and (min-width: $breakpoint + 1px){
    display: flex;
    flex-direction: row-reverse;;
    .imageBlock{
      width: 160px;
    }
    .textBlock{
      flex: 1;
      padding-left: 30px;
      margin-bottom: 0;
    }
  }
}
.tableofcontents{
  ul{
    display: block;
  }
}

/*脱毛サロン一覧*/
.datsumosalonList{
  .datsumosalonName{
    font-weight: bold;
    font-size: 1.05rem;
    margin-bottom: 5px;
  }
  @media all and (max-width: $breakpoint){
    li{
      &:first-child{
        padding-top: 10px;
        border-top: 1px solid #ededed;
      }
      &:not(:last-child){
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ededed;
      }
      a{
        display: block;
      }
      .datsumosalonContainer{
        display: flex;
      }
      .datsumosalonLogo{
        width: 130px;
      }
      .datsumosalonDescription{
        flex: 1;
        padding-left: 15px;
      }
    }
  }
  @media all and (min-width: $breakpoint + 1px){
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    li{
      width: calc(25% - 20px);
      margin-right: 20px;
      margin-bottom: 30px;
      a{
        @include hover;
      }
      .datsumosalonDescription{
        margin-top: 10px;
        font-size: 13px;
      }
    }

  }
}
