html{
	font-size: 14px;
}
.visible-sp{
	display: none!important;
}

/*---------------------------------
HEADER
---------------------------------*/
.gHeader{
	border: 1px solid #f00;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	height: $pc_headerHight;
	background-color: #fff;
	z-index: 999;
	.gHeader__logo{
		position: absolute;
		left: 15px;
		bottom: 15px;
		width: 235px;
		img{
			width: 100%;
		}
	}
	.gHeader__subNavi{
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		ul{
			display: flex;
			align-items: center;
			li{
				margin-right: 20px;
				font-size: 0.9rem;
				a{
					color: #666;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
						opacity: 0.75;
					}
				}
			}
		}
	}
	.gHeader__cvn{
		a{
			display: block;
			background-color: $lookred;
			color: #fff;
			width: 180px;
			height: 36px;
			display: flex;
			justify-content: center;
			align-items: center;
			.icon{
				font-size: 26px;
				margin-right: 5px;
			}
			transition: opacity .3s;
			&:hover{
				opacity: 0.75;
				// background-color: $lookred-dark;
			}
		}
	}
	.gHeader__gNavi{
		position: absolute;
		bottom: 0;
		right: 0;
		ul.gHeader__gNavi__inner{
			display: flex;
			li{
				margin: 0 15px;
				a{
					position: relative;
					display: block;
					padding: 0 5px 15px 5px;
					transition: opacity .3s;
					&:hover{
						opacity: 0.75;
					}
				}
				&.active{
					a{
						&::after{
							content: "";
							position: absolute;
							bottom: 0;
							width: 100%;
							left: 0;
							height: 2px;
							background-color: $lookred;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 1000px){
		.gHeader__logo{
			left: 15px;
			top: 10px;
			bottom: auto;
			width: 220px;
			img{
				width: 100%;
			}
		}
		.gHeader__gNavi{
			width: 100%;
			ul.gHeader__gNavi__inner{
				justify-content:space-between;
				li{
					margin: 0 10px;
					// font-size: 0.85rem;
					a{
						padding-bottom: 10px; 
					}
				}
			}
		}
	}
}


/*---------------------------------
FOOTER
---------------------------------*/
.gFooter{
	position: relative;
	background-color: #515151;
	color: #fff;
	height: $pc_footerHight;
	.gFooter__navi{
		position: absolute;
		right: 30px;
		bottom: 30px;
		display: flex;
		font-size: 0.85rem;
		li{
			margin-left: 15px;
			a{
				transition: opacity .3s;
				&:hover{
					opacity: 0.75;
				}
			}
		}
	}
	.gFooter__logo{
		position: absolute;
		bottom: 30px;
		left: 30px;
		img{
			width: 215px;
			display: block;
			margin-bottom: 10px;
		}
		p{
			opacity: 0.6;
			font-size: 11px;
		}
	}
	.pageTop{
		right: 30px;
		top: 0;
		transform: translateY(-50%);
	}
}



/*---------------------------------
ELEMENT
---------------------------------*/
.contents{
	padding-top: $pc_headerHight;
	min-height: calc(100% - #{$pc_footerHight});
}

.mainContents{
	margin-top: 70px;
}

.contentBlock{
	margin: 0 0 140px 0;
}
.contentInner{
	margin: 0 auto;
	padding: 0 20px;
	max-width: $contentMaxWidth;
}
.contentInner--wide{
	max-width: $contentMaxWidthWide;
}

.subTitle{
	position: relative;
	font-size: 21px;
	font-weight: bold;
	padding-bottom: 15px;
	margin-bottom: 30px;
	&::after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50px;
		height: 3px;
		background-color: #000;
	}
}
.subTitle--center{
	text-align: center;
	font-size: 23px;
	// font-weight: bold;
	margin-bottom: 20px;
	.icon{
		font-size: 40px;
		margin-right: 3px;
		vertical-align: middle;
	}
}
.sub2Title{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.pageTop{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 62px;
	height: 62px;
	background-color: #656565;
	border-radius: 50%;
	color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	span{
		font-size: 36px;
	}
	transition: all .3s;
	&:hover{
		background-color: #333;
		// color: $lookred;
	}
}

.backButton{
	position: relative;
	display: inline-block;
	text-align: left;
	padding-right: 28px;
	&::after{
		content: "\e90a";
		position: absolute;
		font-family: 'icomoon'!important;
		font-size: 24px;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	transition: all .2s;
	&:hover{
		color: #666;
	}
}
.textButton{
	position: relative;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #333;
	// font-weight: bold;
	padding: 13px 90px 13px 20px;
	min-width: 250px;
	text-align: left;
	&::after{
		content: "\e900";
		font-family: 'icomoon'!important;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 40px;
	}
	transition: all .2s;
	&:hover{
		border-color: #333;
		background-color: #333;
		color: #fff;
	}
	&.textButton--borderless{
		border: none;
	}
	&.textButton--blank{
		&::after{
			content: "\e902";
			font-size: 22px;
		}
	}
	&.textButton--icon{
		padding-left: 45px;
		.icon{
			position: absolute;
			left: 15px;
			&::before{
				font-size: 28px;
			}
		}
	}
	&.textButton--shadow{
		border: none;
		box-shadow: $shadow;
	}
}

.textHeader{
	background-color: $lightGray;
	text-align: center;
	display: flex;
	justify-content:center;
	align-items:center;
	// min-height: 140px;/*ieで中央ぞろえにならない*/
	height: 140px;
	padding: 20px;
	line-height: 1.3;
	.textHeader__page{
		font-size: 30px;
		font-weight: bold;
	}
	.textHeader__desc{
		margin-top: 10px;
		color: #555;
	}
}

.imgHeader{
	background-color: $lightGray;
	position: relative;
	.imgHeader__titleBlock{
		position: absolute;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;
		margin-left: 40px;
		.imgHeader__titleBlockInner{
			background-color: #fff;
			padding: 40px 30px;
			.imgHeader__page{
				color: #767676;
				margin-bottom: 25px;
			}
			.imgHeader__catch{
				font-size: 36px;
				font-weight: bold;
			}
			.imgHeader__desc{
				margin-top: 10px;
			}
			
		}
	}
	.imgHeader__photo{
		width: 70%;
		margin-left: auto;
		img{
			width: 100%;
		}
	}
	@media screen and (max-width: 1000px){
		.imgHeader__titleBlock{
			margin-left: 20px;
			.imgHeader__titleBlockInner{
				padding: 20px 15px;
				.imgHeader__page{
					margin-bottom: 15px;
				}
				.imgHeader__catch{
					font-size: 26px;
				}
				.imgHeader__desc{
					margin-top: 5px;
				}
				
			}
		}
	}
}


.paragraph:not(:last-child){
	margin-bottom: 50px;
}

.columnTwo{
	display: flex;
	.localNavi{
		padding-left: $twoColumnPadding;
		width: $lovalNaviWidth;
		margin-top: 70px;
		.localNavi__inner{
			position: sticky;
			top: calc(#{$pc_headerHight} + 70px);
			.localNavi__title{
				font-size: 1.1rem;
				margin-bottom: 10px;
				a{
					font-weight: bold;
				}
			}
			ul{
				li{
					margin-bottom: 8px;
					a,
					span{
						position: relative;
						padding-left: 17px;
						&::before{
							content: "";
							position: absolute;
							left: 0;
							top: 50%;
							width: 10px;
							height: 1px;
							background-color: #666;
						}
						transition: color .3s;
						&:hover{
							color: #999;
						}
						&.active{
							color: #999;
							cursor: default;
						}
					}
				}
			}
		}
	}
	.mainContents{
		width: calc(100% - #{$lovalNaviWidth});
		padding-right: $twoColumnPadding;
	}

	// @media screen and (min-width: 1300px){
	// 	// display: block;
	// 	.mainContents{
	// 		padding-right: 220px;
	// 		// width: $contentMaxWidth;
	// 	}
	// }
}



.footerLink{
	margin-top: 40px;
	background-color: $lightGray;
	padding-left: $lovalNaviWidth;
	padding-bottom: 50px;
	.footerLink__inner{
		padding-right: $twoColumnPadding;
		ul.footerLink__main{
			max-width: $contentMaxWidth;
			margin: 0 auto;
			position: relative;
			top: -30px;
			display: flex;
			li{
				width: 33.33%;
				padding: 0 10px;
				a{
					display: block;
					position: relative;
					height: 100%;
					background-color: #fff;
					box-shadow: $shadow;
					// border:1px solid #333;
					.footerLink__mainImage{
						width: 100%;
						overflow: hidden;
						img{
							width: 100%;
							display: block;
							transition: all .3s;
							// backface-visibility: hidden;
						}
					}
					.footerLink__mainDesc{
						padding: 20px 20px 30px;
						.footerLink__mainTitle{
							font-size: 1.2rem;
							margin-bottom: 3px;
						}
						transition: all .3s;
					}
					&:hover{
						img{
							opacity: 0.75;
							// transform: scale(1.05);
						}
						// border-color: #333;
						.footerLink__mainDesc{
							color: #666;
						}
					}
				}
				// &:only-child{
				&.footerLink__main__single{
					width: 100%;
					a{
						display: flex;
						align-items: center;
						.footerLink__mainImage{
							width: calc(33.33% - 12px);
							// img{
							// 	width: 100%;
							// 	display: block;
							// 	transition: all .3s;
							// }
						}
						.footerLink__mainDesc{
							padding: 20px 60px 20px 30px;
							&::after{
								content: "\e900";
								font-family: 'icomoon'!important;
								position: absolute;
								right: 20px;
								top: 50%;
								transform: translateY(-50%);
								font-size: 36px;

							}
						}
					}
					// border:1px solid #F00;
				}
				
			}
			// li:first-child:nth-last-child(2),
			// li:first-child:nth-last-child(2) ~ li {
			// 	width: 50%;
			// }
		}

		ul.footerLink__sub{
			max-width: $contentMaxWidth;
			margin: 0 auto;
			display: flex;
			li{
				width: 33.33%;
				padding: 0 10px;
				a{
					width: 100%;
					min-width: 100%;
				}
			}
		}
	}
}

.centeringContainer{
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	padding-right: $lovalNaviWidth - $twoColumnPadding;
	@media screen and (max-width: 1000px){
		padding-right: 0;
	}
	// > div{
	// 	text-align: center;
	// 	border:1px solid #F00;
	// }
}
