.resultHeader{
	margin-bottom: 15px;
	@media screen and (min-width: $breakpoint + 1){
		margin-bottom: 30px;
	}
}

/*---------------------------------
サロン情報
---------------------------------*/
.salonHeader{
	position: relative;
	background: url('/assets/images/headline_bg.jpg') center center/auto 100% no-repeat;
	height: 60px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	.rankIcon{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 90px;
		// &.best3{
		// 	height: 90px;
		// }
		// &.others{
		// 	height: 65px;
		// 	margin-left: 15px;
		// 	margin-top: -10px;
		// }
	}
	.salonName{
		// font-family: "Midashi Go MB31", $baseFont;
		font-size: 24px;
		font-weight: bold;
		padding-left: 110px;
		color: #fff;
		text-shadow: 3px 3px 1px rgba(212, 53, 129, 0.9);
		line-height: 1.1;

	}
	@media screen and (min-width: $breakpoint + 1){
		height: 80px;
		margin-bottom: 35px;
		.rankIcon{
			height: 140px;
			// &.best3{
			// 	height: 140px;
			// }
			// &.others{
			// 	height: 90px;
			// 	margin-left: 40px;
			// 	margin-top: -15px;
			// }
		}
		.salonName{
			font-size: 34px;
			padding-left: 170px;
			text-shadow: 3px 3px 1px rgba(212, 53, 129, 0.9);
		}
	}
}

.salonBody{
	.salonInfoBanner{
		padding: 0 15px;
	}
	.salonInfoAssess{
		// margin-bottom: 30px;
		.radarChart{
			margin: 30px auto 0;
			max-width: 500px;
		}

		/*AMP用*/
		table.assessList{
			width: 100%;
			border-collapse: collapse;
			th,td{
				padding: 5px;
				border: 1px solid #ccc;
			}
			th{
				width: 120px;
				text-align: left;
				background-color: #fbeaf2;
			}
		}
	}
	.salonContentTitle{
		height: 30px;
		border-top: 1px solid #55d6fb;
		background: url('/assets/images/salonContentTitle_bg.gif') top right/auto 100% no-repeat #04b1f0;
		box-shadow: 0 2px 2px rgba(0,0,0,0.2);
		margin-bottom: 10px;
		color: #fff;
		line-height: 30px;
		padding-left: 10px;
		font-size: 1.1rem;
		font-weight: bold;
	}
	.salonInfoPoint{
		padding: 15px 15px;
		background-color: #fffce9;
		position: relative;
		max-height: calc(460px * 0.44);
		margin-bottom: 20px;
		.pointFrame{
			position: relative;
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
			padding-top: 44%;
			background: url('/assets/images/point_bg.png') top left/100% auto no-repeat;
			ul{
				position: absolute;
				top: 35%;
				left: 12%;
				width: 88%;
				li{
					color: #fff;
					// font-family: "Midashi Go MB31", $baseFont;
					// font-size: 12px;
					font-weight: bold;
					background: url('/assets/images/point_check.png') center left/16px auto no-repeat;
					padding-left: 20px;
					&:not(:last-child){
						margin-bottom: 7px;
					}
				}

			}

		}
	}
	.salonInfoOverview{
		table{
			width: 100%;
			th,
			td{
				width: 25%;
				border: 1px solid #ccc;
				padding: 5px;
				text-align: center;
				font-size: 0.85rem;
				line-height: 1.2;
			}
			th{
				background-color: #23b7aa;
				color: #fff;
			}
		}
	}
	.salonReview{
		.review{
			padding: 0 5px;
			li{
				border: 3px solid #fff;
				border-radius: 5px;
				display: flex;
				padding: 5px;
				box-shadow: 1px 1px 5px rgba(0,0,0,0.4);

				&:nth-child(n+4){
					/*4つ目以降非表示*/
					display: none;
				}
				&:not(:last-child){
					margin-bottom: 15px;
				}
				&:nth-child(odd){
					background-color: #bfedff;
				}
				&:nth-child(even){
					background-color: #f8d8e7;
				}
				.avatar{
					width: 60px;
					height: 60px;
					border-radius: 50%;
					overflow: hidden;
					background-color: #fff;
					img{
						width: 100%;
					}
				}
				.comment{
					flex: 1;
					padding-left: 10px;
					.valuation{
						margin-bottom: 10px;
						span{
							display: inline-block;
							margin-right: 3px;
							img{
								width: 20px;
							}
						}
					}
				}

				.cld-like-dislike-wrap{
					margin: 10px 0 5px;
					display: block;
				}
				.cld-like-wrap{
					display: flex;
					justify-content: flex-end;
					align-items: center;
					// flex-direction: row-reverse;
				}
				.cld-like-trigger{
					background-color: #fff;
					padding: 5px 10px;
					color: #333;
					font-size: 13px;
					line-height: 1;
					border-radius: 5px;
					box-shadow: 1px 1px 2px rgba(0,0,0,0.2)!important;
				}
				.cld-like-count-wrap{
					padding: 0 5px;
					font-weight: bold;
					color: #e95179;
					display: flex;
					align-items: center;
				}
				.cld-like-count-wrap::before{
					// content: '\02665';
					content: '';
					display: inline-block;
					width: 18px;
					height: 18px;
					margin-right: 3px;
					background: url('/assets/images/icon_like.png') center/100% auto no-repeat;
				}
			}
		}
		.viewMore{
			text-align: center;
			padding: 0 5px;
			margin: 15px auto;
			span{
				padding: 7px 5px;
				position: relative;
				display: block;
				color: #fff;
				background-color: #b8b7b7;
				border-radius: 5px;
				font-size: 0.9rem;
				line-height: 1.2;
				font-weight: bold;
				// &::before {
				//     content: "";
				//     display: inline-block;
				//     width: 10px;
				//     height: 10px;
				//     margin-right: 3px;
				//     margin-top: 3px;
				//     background: url("/assets/images/arrow_w.svg") 50%/100% auto no-repeat;
				//
				// }
			}
		}
		.reviewMore{
			display: none;
			li:first-child{
				margin-top: 15px;
			}
			li{
				&:nth-child(even){
					background-color: #bfedff;
				}
				&:nth-child(odd){
					background-color: #f8d8e7;
				}
			}
		}
	}

	.recommend{
		margin-bottom: 30px;
		article.entry{
			border: 1px solid #ccc;
			padding: 5px;
		}
		@media screen and (min-width: $breakpoint + 1){
			max-width: 90%;
			margin-bottom: 50px;
			article.entry{
				padding: 10px 20px 10px 10px;
				margin-bottom: 20px;
			}
		}

	}
	.ctaBlock{
		margin: 0 auto;
		max-width: 335px;
		.numberOfPeople{
			position: relative;
			border: 1px solid #8fc320;
			background-color: #eefdca;
			border-radius: 5px;
			padding: 5px 15px 10px 15px;
			color: #8fc320;
			font-weight: bold;
			text-align: center;
			&::before{
			  content: "";
			  position: absolute;
			  bottom: -16px;
			  left: 25%;
			  margin-left: 2px;
			  border: 8px solid transparent;
			  border-top: 8px solid #eefdca;
			  z-index: 2;
			}

			&::after{
			  content: "";
			  position: absolute;
			  bottom: -20px;
			  left: 25%;
			  border: 10px solid transparent;
			  border-top: 10px solid #8fc320;
			  z-index: 1;
			}

			.num{
				color: #f98b07;
				margin: 0 3px;
				strong{
					font-size: 1.4rem;

				}
			}
		}
		ul.imgBtn{
			margin-top: 15px;
			display: flex;
			justify-content: space-between;
			// justify-content: center;
			li{
				img{
					height: 47px;
				}
				// &:nth-child(odd){
				// 	padding-right: 5px;
				// }
				// &:nth-child(even){
				// 	padding-left: 5px;
				// }
			}
		}
		ul.txtBtn{
			// margin-top: 10px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			li{
				min-width: 50%;
				flex: 1;
				padding: 0 5px;
				margin-top: 15px;
				a{
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					border: 1px solid #f25aa4;
					box-shadow: 1px 1px 0 2px rgba(0,0,0,0.2);
					padding: 13px 5px;
					font-size: 0.95rem;
					line-height: 1.2;
					text-shadow: 0 1px 3px rgba(191,67,127,0.7);
					height: 100%;
					border-radius: 5px;
					background: linear-gradient(#f87fb9 45%, #f069aa 55%);
					color: #fff;
				}
			}
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		.salonInfo{
			display: flex;
			.leftBlock{
				width: 40%;
			}
			.rightBlock{
				width: 60%;
				padding-left: 30px;
			}
		}
		.salonInfoBanner{
			a{
				@include hover;
			}
		}
		.salonInfoAssess{
			width: calc(100% + 80px);
			.radarChart{
				margin: 30px 0 0 -40px;
			}
		}
		.salonContentTitle{
			color: #ff1369;
			height: auto;
			min-height: 22px;
			border-top: none;
			box-shadow: none;
			background: url('/assets/images/salonContentTitle_icon.png') top left/auto 22px no-repeat transparent;
			padding-left: 25px;
			padding-top: 7px;
			margin-bottom: 15px;
			line-height: 1;
		}
		.salonInfoPoint{
			padding: 0 15px 0 0;
			max-height: none;
			background-color: transparent;
			// margin-bottom: 0;
			.pointFrame{
				max-width: 600px;
				ul{
					top: 38%;
					left: 13%;
					width: 86%;
					li{
						// font-size: 15px;
						background: url('/assets/images/point_check.png') center left/20px auto no-repeat;
						padding-left: 28px;
						&:not(:last-child){
							margin-bottom: 7px;
						}
					}

				}

			}
		}
		.salonReview{
			.review{
				// max-width: 90%;
				li{
					border-radius: 10px;
					padding: 8px;
					&:not(:last-child){
						margin-bottom: 20px;
					}

					.avatar{
						width: 80px;
						height: 80px;
					}
					.comment{
						padding-left: 15px;
					}
				}
			}
			.viewMore{
				margin: 15px 0;
				cursor: pointer;
				// max-width: 90%;
				@include hover;
			}
			.reviewMore{
				li:first-child{
					margin-top: 20px;
				}

			}

		}
		.ctaBlock{
			margin: 0 0 0 10%;
			max-width: none;
			width: 500px;
			.numberOfPeople{
				padding: 0 15px 5px 15px;
				font-size: 1.3rem;
				.num{
					margin: 0 3px;
					strong{
						font-size: 30px;
					}
				}
			}
			ul.imgBtn{
				li{
					// &:nth-child(odd){
					// 	padding-right: 15px;
					// }
					// &:nth-child(even){
					// 	padding-left: 15px;
					// }
					a{
						@include hover;
						img{
							height: 69px;
						}
					}
				}
			}
			ul.txtBtn{
				li{
					margin-top: 20px;
					a{
						border-width: 2px;
						// box-shadow: 1px 1px 0 3px rgba(0,0,0,0.2);
						padding: 13px 5px;
						// font-size: 1.05rem;
						font-weight: bold;
						@include hover;
					}
				}
			}
		}
	}
}

/*---------------------------------
サロン詳細
---------------------------------*/
.salonNavi{
	margin: 10px 0;
	padding: 0 15px;
	ul{
		display: flex;
		li{
			flex: 1;
			padding: 0 2px;
			a,span{
				display: block;
				padding: 5px 5px;
				text-align: center;
				background-color: $keyColor;
				color: #fff;
				font-size: 0.9rem;
				font-weight: bold;
				line-height: 1.2;
			}
			span{
				opacity: 0.6;
			}
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		padding: 0;
		margin: 0 0 15px 0;
		ul{
			li{
				a{
					@include hover;
				}
			}
		}
	}
}

#salonDetail{
	.salonHeader{
		.salonName{
			// font-family: "Midashi Go MB31", $baseFont;
			padding-left: 15px;
			line-height: 1.1;
		}
		@media screen and (min-width: $breakpoint + 1){
			.salonName{
				padding-left: 20px;
			}
		}
	}

	.ctaBlock{
		@media screen and (max-width: $breakpoint){
			ul.imgBtn{
				li{
					img{
						height: 45px;
					}
				}
			}
		}
		@media screen and (min-width: $breakpoint + 1){
			width: 515px;
		}
	}
}

.commentsArea{
	// padding: 0 10px;
	margin: 20px 0;
	a{
		color: $linkColor;
	}

	@media screen and (min-width: $breakpoint + 1){
		max-width: 90%;
		margin: 30px 0;
	}
}


/*AMP時不要*/
.allReview{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	padding: 40px 15px 15px;
	&.active{
		display: block;
		animation: fadeIn .2s linear;
	}
	.allReviewContainer{
		background-color: #fff;
		position: relative;
		height: 100%;
		z-index: 2;
	}
	.reviewAgeTab{
		height: 40px;
		display: flex;
		background-color: #f8e5ea;
		li{
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #e95179;
			font-weight: bold;
			&:not(:last-child){
				border-right: 1px solid #fff;
			}
			&.active{
				background-color: #fff;
			}
		}
	}
	.allReviewInner{
		position: relative;
		height: calc(100% - 70px);
		margin: 15px 0;
		background-color: #fff;
		padding: 5px 10px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.review{
		li{
			&:nth-child(n+4){
				display: flex!important;
			}
		}
	}
	.bg{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;
		.close{
			position: absolute;
			top: 3px;
			right: 5px;
			color: #fff;
			font-size: 34px;
			line-height: 1;
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		padding: 80px 15px 30px;
		.allReviewContainer{
			max-width: 700px;
			margin: 0 auto;
		}
		.reviewAgeTab{
			li{
				cursor: pointer;
			}
		}
		.bg{
			.close{
				font-size: 54px;
				cursor: pointer;
			}
		}
	}
}
.comment-respond{
	margin-top: 20px;
	@media screen and (min-width: $breakpoint + 1){
		margin-top: 30px;
	}
}
.comment-reply-title{
	font-size: 1.1rem;
	margin-bottom: 10px;
	background-color: $keyColor;
	color: #fff;
	text-align: center;
	padding: 7px 5px;
	border-radius: 5px;
	span{
		font-weight: bold;
		padding-left: 20px;
		position: relative;
		&::before{
			content: "";
			position: absolute;
			display: inline-block;
			width: 14px;
			height: 14px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background: url(/assets/images/arrow_w.svg) 50%/100% auto no-repeat;
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		padding: 10px 5px;
		cursor: pointer;
		@include hover;
	}
}

.comment-form{
	display: none;

	padding: 15px;
	background-color: #fff1f6;
	.comment-notes{
		font-size: 0.9rem;
	}
	input,
	textarea{
		appearance: none;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 16px;
		width: 100%;
		padding: 5px;
		box-sizing: border-box;
	}
	select{
		// appearance: none;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 16px!important;
		width: 100%;
		padding: 5px!important;
		box-sizing: border-box;
	}
	.acf-field .acf-label{
		margin: 0;
	}
	label{
		display: block;
    font-weight: bold;
    margin-bottom: 5px;
		.caption{
			font-size: 0.9rem;
		}
	}
	.form-submit{
		margin-top: 15px;
		input.submit{
			border: none;
			background-color: $keyColor;
			color: #fff;
			font-weight: bold;
			max-width: 200px;
			display: block;
			margin: 0 auto;
			padding: 10px 5px;
		}
	}

	@media screen and (min-width: $breakpoint + 1){
		padding: 23px 20px;
		input{
			max-width: 400px;
		}
		select{
			max-width: 200px;
		}
		.form-submit{
			margin-top: 30px;
			input.submit{
				max-width: 300px;
				padding: 15px;
				cursor: pointer;
				@include hover;
			}
		}
	}
}
