.resultHeader{
	margin-bottom: 15px;
	@media screen and (min-width: $breakpoint + 1){
		margin-bottom: 30px;
	}
}

/*---------------------------------
サロン情報
---------------------------------*/
.salonHeader{
	position: relative;
	background: url('/assets/images/headline_bg.jpg') center center/auto 100% no-repeat;
	height: 60px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	.rankIcon{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		&.best3{
			height: 90px;
		}
		&.others{
			height: 65px;
			margin-left: 15px;
			margin-top: -10px;
		}
	}
	.salonName{
		font-family: "Midashi Go MB31", $baseFont;
		font-size: 24px;
		font-weight: bold;
		padding-left: 110px;
		color: #fff;
		text-shadow: 3px 3px 1px rgba(212, 53, 129, 0.9);
	}
	@media screen and (min-width: $breakpoint + 1){
		height: 80px;
		margin-bottom: 35px;
		.rankIcon{
			&.best3{
				height: 140px;
			}
			&.others{
				height: 90px;
				margin-left: 40px;
				margin-top: -15px;
			}
		}
		.salonName{
			font-size: 34px;
			padding-left: 170px;
			text-shadow: 3px 3px 1px rgba(212, 53, 129, 0.9);
		}
	}
}

.salonBody{
	.salonInfoBanner{
		padding: 0 15px;
	}
	.salonInfoAssess{
		// margin-bottom: 30px;
		.radarChart{
			margin: 30px auto 0;
			max-width: 500px;
		}
	}
	.salonContentTitle{
		height: 30px;
		border-top: 1px solid #55d6fb;
		background: url('/assets/images/salonContentTitle_bg.gif') top right/auto 100% no-repeat #04b1f0;
		box-shadow: 0 2px 2px rgba(0,0,0,0.2);
		margin-bottom: 10px;
		color: #fff;
		line-height: 30px;
		padding-left: 10px;
		font-size: 1.1rem;
		font-weight: bold;
	}
	.salonInfoPoint{
		padding: 15px 15px;
		background-color: #fffce9;
		position: relative;
		max-height: calc(460px * 0.44);
		margin-bottom: 20px;
		.pointFrame{
			position: relative;
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
			padding-top: 44%;
			background: url('/assets/images/point_bg.png') top left/100% auto no-repeat;
			ul{
				position: absolute;
				top: 35%;
				left: 12%;
				width: 88%;
				li{
					color: #fff;
					font-family: "Midashi Go MB31", $baseFont;
					font-size: 12px;
					background: url('/assets/images/point_check.png') center left/16px auto no-repeat;
					padding-left: 20px;
					&:not(:last-child){
						margin-bottom: 7px;
					}
				}
				
			}
			
		}
	}
	.salonInfoOverview{
		table{
			width: 100%;
			th,
			td{
				width: 25%;
				border: 1px solid #ccc;
				padding: 5px;
				text-align: center;
				font-size: 0.85rem;
				line-height: 1.2;
			}
			th{
				background-color: #23b7aa;
				color: #fff;
			}
		}
	}
	.salonReview{
		.review{
			padding: 0 5px;
			li{

				border: 3px solid #fff;
				border-radius: 5px;
				display: flex;
				padding: 5px;
				box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
				&:not(:last-child){
					margin-bottom: 15px;
				}
				&:nth-child(odd){
					background-color: #bfedff;
				}
				&:nth-child(even){
					background-color: #f8d8e7;
				}
				.avatar{
					width: 60px;
					height: 60px;
					border-radius: 50%;
					overflow: hidden;
					background-color: #fff;
					img{
						width: 100%;
					}
				}
				.comment{
					flex: 1;
					padding-left: 10px;
				}
			}
		}
		.viewMore{
			text-align: center;
			padding: 0 5px;
			margin: 15px auto;
			span{
				padding: 7px 5px;
				position: relative;
				display: block;
				color: #fff;
				background-color: #b8b7b7;
				border-radius: 5px;
				font-size: 0.9rem;
				line-height: 1.2;
				font-weight: bold;
				&::before {
				    content: "";
				    display: inline-block;
				    width: 10px;
				    height: 10px;
				    margin-right: 3px;
				    margin-top: 3px;
				    background: url("/assets/images/arrow_w.svg") 50%/100% auto no-repeat;

				}
			}
		}
		.reviewMore{
			display: none;
			li:first-child{
				margin-top: 15px;
			}
			li{
				&:nth-child(even){
					background-color: #bfedff;
				}
				&:nth-child(odd){
					background-color: #f8d8e7;
				}
			}			
		}
	}
	.ctaBlock{
		margin: 0 auto;
		max-width: 345px;
		.numberOfPeople{
			position: relative;
			border: 1px solid #8fc320;
			background-color: #eefdca;
			border-radius: 5px;
			padding: 5px 15px 10px 15px;
			color: #8fc320;
			font-weight: bold;
			text-align: center;
			&::before{
			  content: "";
			  position: absolute;
			  bottom: -16px;
			  left: 25%;
			  margin-left: 2px;
			  border: 8px solid transparent;
			  border-top: 8px solid #eefdca;
			  z-index: 2;
			}

			&::after{
			  content: "";
			  position: absolute;
			  bottom: -20px;
			  left: 25%;
			  border: 10px solid transparent;
			  border-top: 10px solid #8fc320;
			  z-index: 1;
			}

			.num{
				color: #f98b07;
				margin: 0 3px;
				strong{
					font-size: 1.4rem;
					
				}
			}
		}
		ul{
			margin-top: 15px;
			display: flex;
			justify-content: space-between;
			li{
				&:nth-child(odd){
					padding-right: 5px;
				}
				&:nth-child(even){
					padding-left: 5px;
				}
			}
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		.salonInfo{
			display: flex;
			.leftBlock{
				width: 40%;
			}
			.rightBlock{
				width: 60%;
				padding-left: 30px;
			}
		}
		.salonInfoBanner{
			a{
				@include hover;
			}
		}
		.salonInfoAssess{
			width: calc(100% + 80px);
			.radarChart{
				margin: 30px 0 0 -40px;
			}
		}
		.salonContentTitle{
			color: #ff1369;
			height: auto;
			min-height: 22px;
			border-top: none;
			box-shadow: none;
			background: url('/assets/images/salonContentTitle_icon.png') top left/auto 22px no-repeat transparent;
			padding-left: 25px;
			padding-top: 7px;
			margin-bottom: 15px;
			line-height: 1;
		}
		.salonInfoPoint{
			padding: 0 15px 0 0;
			max-height: none;
			background-color: transparent;
			// margin-bottom: 0;
			.pointFrame{
				max-width: 600px;
				ul{
					top: 38%;
					left: 14%;
					width: 86%;
					li{
						font-size: 15px;
						background: url('/assets/images/point_check.png') center left/20px auto no-repeat;
						padding-left: 28px;
						&:not(:last-child){
							margin-bottom: 10px;
						}
					}
					
				}
				
			}
		}
		.salonReview{
			.review{
				max-width: 90%;
				li{
					border-radius: 10px;
					padding: 8px;
					&:not(:last-child){
						margin-bottom: 20px;
					}

					.avatar{
						width: 80px;
						height: 80px;
					}
					.comment{
						padding-left: 15px;
					}
				}
			}
			.viewMore{
				margin: 15px 0;
				cursor: pointer;
				max-width: 90%;
				@include hover;
			}
			.reviewMore{
				li:first-child{
					margin-top: 20px;
				}
				
			}
			
		}
		.ctaBlock{
			margin: 0 0 0 10%;
			max-width: 70%;
			.numberOfPeople{
				padding: 0 15px 5px 15px;
				font-size: 1.3rem;
				.num{
					margin: 0 3px;
					strong{
						font-size: 30px;
					}
				}
			}
			ul{
				li{
					&:nth-child(odd){
						padding-right: 15px;
					}
					&:nth-child(even){
						padding-left: 15px;
					}
					a{
						@include hover;
					}
				}
			}
		}
	}
}

/*---------------------------------
サロン詳細
---------------------------------*/
.salonNavi{
	margin: 10px 0;
	padding: 0 15px;
	ul{
		display: flex;
		li{
			flex: 1;
			padding: 0 2px;
			a,span{
				display: block;
				padding: 5px 5px;
				text-align: center;
				background-color: #f95793;
				color: #fff;
				font-size: 0.9rem;
				font-weight: bold;
				line-height: 1.2;
			}
			span{
				opacity: 0.6;
			}
		}
	}
	@media screen and (min-width: $breakpoint + 1){
		padding: 0;	
		margin: 0 0 15px 0;
		ul{
			li{
				a{
					@include hover;
				}
			}
		}
	}
}

#salonDetail{
	.salonHeader{
		.salonName{
			font-family: "Midashi Go MB31", $baseFont;
			padding-left: 15px;
		}
		@media screen and (min-width: $breakpoint + 1){
			.salonName{
				padding-left: 20px;
			}
		}
	}
}