.treatmentParts{
  border: 4px solid #FFE1FA;
    input{
      display: none;
    }
    .tabItem{
      text-align: center;
      padding: 5px;
      font-size: 1.15rem;
      width: 33.33%;
      float:left;
      border-bottom: 4px solid #FFE1FA;
      cursor: pointer;
      // @include hover;
      box-sizing: border-box;
      &:nth-of-type(2){
        border-right: 4px solid #FFE1FA;
        border-left: 4px solid #FFE1FA;
      }
    }
    input:checked + .tabItem {
      background-color: #FFE1FA;
    }

  .tabContent{
    display: none;
    padding: 15px;
    clear: both;
    position: relative;
    .illust{
      max-width: 580px;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
    .otherBtn{
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 30px);
      max-width: 580px;
      display: flex;
      justify-content: space-between;
      li{
        width: 30%;
        cursor: pointer;
        @include hover;
      }
    }
    @media all and (min-width: $breakpoint + 1px){
      padding: 40px 15px;
      .otherBtn{
        bottom: 30px;
      }
    }
  }
  #frontTab:checked ~ .frontContent,
  #backTab:checked ~ .backContent,
  #vioTab:checked ~ .vioContent {
    display: block;
    animation: fadeIn .4s;
  }
}

.partsList{
  margin-top: 30px;
  li{
    .inner{
      display: flex;
      align-items: flex-start;
    }
    .thumb{
      width: 75px;
      display: block;
    }
    p{
      flex: 1;
      padding-left: 15px;
      text-align: justify;
      font-size: 0.9rem;
    }
  }
  @media all and (max-width: $breakpoint){
    li{
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }
  @media all and (min-width: $breakpoint + 1px){
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
    li{
      width: calc(50% - 20px);
      margin-bottom: 40px;
      .inner{
        @include hover;
      }
      .thumb{
        width: 120px;
        display: block;
      }
    }
  }
}
