#パスワード保護の名残で重複コンテンツとみなされる対策
#RewriteEngine on
#RewriteCond %{QUERY_STRING} (^|&)redirect_to=([^&]+)($|&)
#RewriteRule .* - [E=REDIRECT:%2]
#RewriteCond %{QUERY_STRING} !=""
#RewriteRule ^(.*) %{ENV:REDIRECT}$1? [L,R=301]


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress